<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/user/css/accBook.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:src="@{/user/js/accBook.js}" defer></script>
</head>

<body>
    <div layout:fragment="content">
        <div style="display: flex;">
            <div class="info" style="flex: 1;">
                <div style="flex: 1;" th:if="${cardNo.equals('null')}">
                    <h4>💳 카드를 등록해주세요
                        <button type="button" class="mybtn" data-toggle="modal" data-target="#amountSetting"
                            data-whatever="등록">
                            ➕
                        </button>
                    </h4>
                </div>

                <div style="flex: 1;" th:unless="${cardNo.equals('null')}">
                    <h4>💳 [[${cardCompany}]] : [[${cardNo}]]
                        <button type="button" class="mybtn" data-toggle="modal" data-target="#updateCard"
                            data-whatever="수정" th:data-cardno='${cardNo}' th:data-cardcompany='${cardCompany}'>
                            ✔️
                        </button>
                        <button type="button" class="mybtn" th:value="${cardNo}" id="deleteCard">
                            ❌
                        </button>
                    </h4>
                </div>

                <div style="flex: 1;" th:if="${accBudgetPrice.equals('null')}">
                    <h4>💰 예산을 등록해주세요
                        <button type="button" class="mybtn" data-toggle="modal" data-target="#insertBudget"
                            data-whatever="등록">
                            ➕
                        </button>
                    </h4>
                </div>

                <div style="flex: 1;" th:unless="${accBudgetPrice.equals('null')}">
                    <h4>💰
                        <span th:text="|${#numbers.formatInteger(accBudgetPrice, 0, 'COMMA')}원|"></span>
                        / [[${accBudgetUnit}]]
                        <button type="button" class="mybtn" data-toggle="modal" data-target="#updateBudget"
                            data-whatever="수정" th:data-budgetunit="${accBudgetUnit}"
                            th:data-budgetprice="${accBudgetPrice}">
                            ✔️
                        </button>
                        <button type="button" class="mybtn" id="deleteBudget">
                            ❌
                        </button>
                    </h4>
                </div>
            </div>
            <div class="aboutNotice" style="flex: 1;" onclick="aboutNotice()">
                <p>가계부 이용방법&#129300;</p>
            </div>
        </div>
        <div id="divbox" style="display: flex;">
            <div id="cal" style="flex: 2;">
                <h4 id="sumByMonth" style="text-align: center;"></h4>
                <table class="Calendar" style=" margin: 0 auto;">
                    <thead>
                        <tr>
                            <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                            <td colspan="5">
                                <span id="calYear"></span>년
                                <span id="calMonth"></span>월
                            </td>
                            <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
                        </tr>
                        <tr>
                            <td>일</td>
                            <td>월</td>
                            <td>화</td>
                            <td>수</td>
                            <td>목</td>
                            <td>금</td>
                            <td>토</td>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="history" style="flex: 3;">
                <h4 style="text-align: center;" id="historyTitle">📰 소비내역 📰</h4>
                <table id="hisTable">

                </table>
                <div class="getResult">
                    <span id="getResultText">&#128269;기록 상세보기</span>
                </div>
                <div class="sumDiv">
                    <h4 id="sumPrice"></h4>
                </div>
            </div>
        </div>






        <!--모달창 모음-->



        <!-- 카드 등록 -->
        <div class="modal fade" id="amountSetting" tabindex="-1" aria-labelledby="amountSettingLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="amountSettingLabel">카드 등록</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- //th:action="@{cardInsert}" -->
                        <form th:action="@{cardInsert}" method="POST" th:object="${MemberFinanceInfoVO}">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">카드사</label>
                                <select id="amountName" th:field="*{cardCompany}">
                                    <div class="dropdown-menu">
                                        <option value="농협">
                                            <div class="dropdown-item">NH농협</div>
                                        </option>
                                        <option value="현대">
                                            <div class="dropdown-item">현대</div>
                                        </option>
                                        <option value="신한">
                                            <div class="dropdown-item">신한</div>
                                        </option>
                                        <option value="삼성">
                                            <div class="dropdown-item">삼성</div>
                                        </option>
                                        <option value="롯데">
                                            <div class="dropdown-item">롯데</div>
                                        </option>
                                        <option value="하나">
                                            <div class="dropdown-item">하나</div>
                                        </option>
                                        <option value="비씨">
                                            <div class="dropdown-item">비씨</div>
                                        </option>
                                        <option value="시티">
                                            <div class="dropdown-item">시티</div>
                                        </option>
                                    </div>
                                </select>
                                <div class="form-group">
                                    <label for="amountNum" class="col-form-label">카드번호</label>
                                    <input type="text" class="form-control" id="amountNum" style="resize: none;"
                                        th:field="*{cardNo}" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="addAmountBtn">등록</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 카드 수정 -->
        <div class="modal fade" id="updateCard" tabindex="-1" aria-labelledby="updateCardLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateCardLabel">카드 변경</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- //th:action="@{cardInsert}" -->
                        <form th:action="@{cardUpdate}" method="POST" th:object="${MemberFinanceInfoVO}">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">카드사</label>
                                <br>
                                <select id="cardCompanySelect" th:field="*{cardCompany}">
                                    <div class="dropdown-menu">
                                        <option value="농협">
                                            <div class="dropdown-item">NH농협</div>
                                        </option>
                                        <option value="현대">
                                            <div class="dropdown-item">현대</div>
                                        </option>
                                        <option value="신한">
                                            <div class="dropdown-item">신한</div>
                                        </option>
                                        <option value="삼성">
                                            <div class="dropdown-item">삼성</div>
                                        </option>
                                        <option value="롯데">
                                            <div class="dropdown-item">롯데</div>
                                        </option>
                                        <option value="하나">
                                            <div class="dropdown-item">하나</div>
                                        </option>
                                        <option value="비씨">
                                            <div class="dropdown-item">비씨</div>
                                        </option>
                                        <option value="시티">
                                            <div class="dropdown-item">시티</div>
                                        </option>
                                    </div>
                                </select>
                                <div class="form-group">
                                    <label for="cardNum" class="col-form-label">카드번호</label>
                                    <input type="text" class="form-control" id="cardNum" style="resize: none;"
                                        th:field="*{cardNo}" placeholder="'-' 제외" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="addCardBtn">변경</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 예산 등록 -->
        <div class="modal fade" id="insertBudget" tabindex="-1" aria-labelledby="insertBudgetLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="insertBudgetLabel">예산 등록</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- //th:action="@{cardInsert}" -->
                        <form th:action="@{budgetInsert}" method="POST" th:object="${AccBudgetVO}">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">예산 단위</label>
                                <br>
                                <select id="accBudgetUnit" th:field="*{accBudgetUnit}">
                                    <div class="dropdown-menu">
                                        <option value="YA1">
                                            <div class="dropdown-item">일</div>
                                        </option>
                                        <option value="YA2">
                                            <div class="dropdown-item">주</div>
                                        </option>
                                        <option value="YA3">
                                            <div class="dropdown-item">월</div>
                                        </option>
                                    </div>
                                </select>
                                <div class="form-group">
                                    <label for="accBudgetPrice" class="col-form-label">예산금액</label>
                                    <input type="text" class="form-control" style="resize: none;"
                                        th:field="*{accBudgetPrice}" placeholder="(원)" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="addBudgetBtn">등록</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- 예산 변경 -->
        <div class="modal fade" id="updateBudget" tabindex="-1" aria-labelledby="updateBudgetLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateBudgetLabel">예산 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- //th:action="@{cardInsert}" -->
                        <form th:action="@{budgetUpdate}" method="POST" th:object="${AccBudgetVO}">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">예산 단위</label>
                                <br>
                                <select id="accBudgetUnitSelect" th:field="*{accBudgetUnit}">
                                    <div class="dropdown-menu">
                                        <option value="YA1">
                                            <div class="dropdown-item">일</div>
                                        </option>
                                        <option value="YA2">
                                            <div class="dropdown-item">주</div>
                                        </option>
                                        <option value="YA3">
                                            <div class="dropdown-item">월</div>
                                        </option>
                                    </div>
                                </select>
                                <div class="form-group">
                                    <label for="accBudgetPrice" class="col-form-label">예산금액</label>
                                    <input type="text" class="form-control" id="accbudgetprice" style="resize: none;"
                                        th:field="*{accBudgetPrice}" placeholder="(원)" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="addBudgetBtn">수정</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/user/js/accBook2.js}" defer></script>

    </div>

</body>

</html>