<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/user/css/accBook.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script th:src="@{/user/js/accBook.js}"></script>
</head>

<body>
    <div layout:fragment="content">
        <div style="display: flex;">

            <div class="info" style="flex: 1;" th:if="${cardNo.equals('null')}">
                <p>💳카드💳</p>
                <hr>
                <p>카드를 등록해주세요
                <div class="col-6">
                    <button type="button" class="mybtn" data-toggle="modal" data-target="#amountSetting"
                        data-whatever="등록">
                        ➕
                    </button>
                </div>
                </p>
            </div>
            <div class="info" style="flex: 1;" th:unless="${cardNo.equals('null')}">
                <p>💳카드💳</p>
                <hr>
                <p>카드 회사 : [[${cardCompany}]]</p>
                <p>카드 번호 : [[${cardNo}]]
                    <button type="button" class="mybtn" data-toggle="modal" data-target="#updateCard" data-whatever="수정"
                        th:data-cardno='${cardNo}' th:data-cardcompany='${cardCompany}'>
                        ✔️
                    </button>
                    <button type="button" class="mybtn" th:value="${cardNo}" id="deleteCard">
                        ❌
                    </button>
                </p>
            </div>
            <div class="info" style="flex: 1;" th:if="${accBudgetPrice.equals('null')}">
                <p>💰목표예산💰</p>
                <hr>
                <p>예산을 등록해주세요
                <div class="col-6">
                    <button type="button" class="mybtn" data-toggle="modal" data-target="#insertBudget"
                        data-whatever="등록">
                        ➕
                    </button>
                </div>
                </p>
            </div>
            <div class="info" style="flex: 1;" th:unless="${accBudgetPrice.equals('null')}">
                <p>💰목표예산💰</p>
                <hr>
                <p>예산 단위 : [[${accBudgetUnit}]]</p>
                <p>예산 금액 : <span th:text="|${#numbers.formatInteger(accBudgetPrice, 0, 'COMMA')}원|"></span>
                    <button type="button" class="mybtn" data-toggle="modal" data-target="#updateBudget"
                        data-whatever="수정" th:data-budgetunit="${accBudgetUnit}"
                        th:data-budgetprice="${accBudgetPrice}">
                        ✔️
                    </button>
                    <button type="button" class="mybtn" id="deleteBudget">
                        ❌
                    </button>
                </p>
            </div>
        </div>
        <div id="divbox" style="display: flex;">
            <div id="cal" style="flex: 1;">
                <h4 id="sumByMonth" style="text-align: center;"></h4>
                <table class="Calendar" style=" margin: 0 auto;">
                    <thead>
                        <tr>
                            <td onClick="prevCalendar();" style="cursor:pointer;">&#60;</td>
                            <td colspan="5">
                                <span id="calYear"></span>년
                                <span id="calMonth"></span>월
                            </td>
                            <td onClick="nextCalendar();" style="cursor:pointer;">&#62;</td>
                        </tr>
                        <tr>
                            <td>일</td>
                            <td>월</td>
                            <td>화</td>
                            <td>수</td>
                            <td>목</td>
                            <td>금</td>
                            <td>토</td>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
            <div id="history" style="flex: 1;">
                <h4 style="text-align: center;" id="historyTitle">📰 소비내역 📰</h4>
                <table id="hisTable">

                </table>
                <div>
                    <h4 id="sumPrice"></h4>
                </div>
            </div>
        </div>






        <!--모달창 모음-->



        <!-- 카드 등록 -->
        <div class="modal fade" id="amountSetting" tabindex="-1" aria-labelledby="amountSettingLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="amountSettingLabel">카드 등록</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- //th:action="@{cardInsert}" -->
                        <form th:action="@{cardInsert}" method="POST" th:object="${MemberFinanceInfoVO}">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">카드사</label>
                                <select id="amountName" th:field="*{cardCompany}">
                                    <div class="dropdown-menu">
                                        <option value="농협">
                                            <div class="dropdown-item">농협</div>
                                        </option>
                                        <option value="현대">
                                            <div class="dropdown-item">현대</div>
                                        </option>
                                        <option value="신한">
                                            <div class="dropdown-item">신한</div>
                                        </option>
                                    </div>
                                </select>
                                <div class="form-group">
                                    <label for="amountNum" class="col-form-label">카드번호</label>
                                    <input type="text" class="form-control" id="amountNum" style="resize: none;"
                                        th:field="*{cardNo}" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="addAmountBtn">등록</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 카드 수정 -->
        <div class="modal fade" id="updateCard" tabindex="-1" aria-labelledby="updateCardLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateCardLabel">카드 변경</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- //th:action="@{cardInsert}" -->
                        <form th:action="@{cardUpdate}" method="POST" th:object="${MemberFinanceInfoVO}">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">카드사</label>
                                <br>
                                <select id="cardCompanySelect" th:field="*{cardCompany}">
                                    <div class="dropdown-menu">
                                        <option value="농협">
                                            <div class="dropdown-item">농협</div>
                                        </option>
                                        <option value="현대">
                                            <div class="dropdown-item">현대</div>
                                        </option>
                                        <option value="신한">
                                            <div class="dropdown-item">신한</div>
                                        </option>
                                    </div>
                                </select>
                                <div class="form-group">
                                    <label for="cardNum" class="col-form-label">카드번호</label>
                                    <input type="text" class="form-control" id="cardNum" style="resize: none;"
                                        th:field="*{cardNo}" placeholder="'-' 제외" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="addCardBtn">변경</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- 예산 등록 -->
        <div class="modal fade" id="insertBudget" tabindex="-1" aria-labelledby="insertBudgetLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="insertBudgetLabel">예산 등록</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- //th:action="@{cardInsert}" -->
                        <form th:action="@{budgetInsert}" method="POST" th:object="${AccBudgetVO}">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">예산 단위</label>
                                <br>
                                <select id="accBudgetUnit" th:field="*{accBudgetUnit}">
                                    <div class="dropdown-menu">
                                        <option value="YA1">
                                            <div class="dropdown-item">일</div>
                                        </option>
                                        <option value="YA2">
                                            <div class="dropdown-item">주</div>
                                        </option>
                                        <option value="YA3">
                                            <div class="dropdown-item">월</div>
                                        </option>
                                    </div>
                                </select>
                                <div class="form-group">
                                    <label for="accBudgetPrice" class="col-form-label">예산금액</label>
                                    <input type="text" class="form-control" style="resize: none;"
                                        th:field="*{accBudgetPrice}" placeholder="(원)" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="addBudgetBtn">등록</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- 예산 변경 -->
        <div class="modal fade" id="updateBudget" tabindex="-1" aria-labelledby="updateBudgetLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateBudgetLabel">예산 수정</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- //th:action="@{cardInsert}" -->
                        <form th:action="@{budgetUpdate}" method="POST" th:object="${AccBudgetVO}">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">예산 단위</label>
                                <br>
                                <select id="accBudgetUnitSelect" th:field="*{accBudgetUnit}">
                                    <div class="dropdown-menu">
                                        <option value="YA1">
                                            <div class="dropdown-item">일</div>
                                        </option>
                                        <option value="YA2">
                                            <div class="dropdown-item">주</div>
                                        </option>
                                        <option value="YA3">
                                            <div class="dropdown-item">월</div>
                                        </option>
                                    </div>
                                </select>
                                <div class="form-group">
                                    <label for="accBudgetPrice" class="col-form-label">예산금액</label>
                                    <input type="text" class="form-control" id="accbudgetprice" style="resize: none;"
                                        th:field="*{accBudgetPrice}" placeholder="(원)" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" id="addBudgetBtn">수정</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(function () {
                $('#updateCard').on('show.bs.modal', function (event) {
                    console.log("모달오픈");
                    let cardno = $(event.relatedTarget).data('cardno');
                    console.log($(event.relatedTarget).data('cardcompany'));
                    document.getElementById('cardNum').value = cardno;


                    let selectBox1 = document.getElementById('cardCompanySelect');
                    let len1 = selectBox1.options.length;
                    let cardCom = $(event.relatedTarget).data('cardcompany');

                    for (let i = 0; i < len1; i++) {
                        if (selectBox1.options[i].value == cardCom) {
                            selectBox1.options[i].selected = true;
                        }
                    }
                    // console.log(document.querySelector('option[value=' + $(event.relatedTarget).data('cardcompany') + ']'));
                    // document.querySelector('option[value=' + $(event.relatedTarget).data('cardcompany') + ']').setAttribute('selected', 'selected');




                });
                $('#updateBudget').on('show.bs.modal', function (event) {

                    let budgetprice = $(event.relatedTarget).data('budgetprice');
                    console.log(budgetprice);
                    document.getElementById('accbudgetprice').value = budgetprice;

                    let selectBox2 = document.getElementById('accBudgetUnitSelect');
                    let len2 = selectBox2.options.length;
                    let budgetunit = $(event.relatedTarget).data('budgetunit');
                    console.log(budgetunit);
                    if (budgetunit == '일') budgetunitval = 'YA1';
                    else if (budgetunit == '주') budgetunitval = 'YA2';
                    else if (budgetunit == '월') budgetunitval = 'YA3';
                    console.log(budgetunitval);
                    for (let i = 0; i < len2; i++) {
                        if (selectBox2.options[i].value == budgetunitval) {
                            selectBox2.options[i].selected = true;
                        }
                    }
                });

            });


            let delCardBtn = document.getElementById("deleteCard");

            delCardBtn.addEventListener("click", delModal);

            function delModal(e) {
                let cardno = delBtn.value;
                let data = { cardno };
                console.log(cardno);
                Swal.fire({
                    title: "등록된 카드를 삭제하시겠습니까?",
                    text: "삭제된 정보는 복구될 수 없습니다.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes"
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch("/cardDelete", {
                            method: "POST",
                            body: JSON.stringify({
                                cardNo: cardno
                            }),
                            headers: {
                                "Content-Type": "application/json"
                            }
                        })
                            .then(response => response.json())
                            .then(result => {
                                if (result.result == "success") {
                                    Swal.fire({
                                        title: "삭제완료",
                                        text: "Your file has been deleted.",
                                        icon: "success"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "삭제실패",
                                        text: "Your file has been deleted.",
                                        icon: "error"
                                    });
                                }

                                location.reload();
                            })
                    }
                });
            }

            let delBudgetBtn = document.getElementById("deleteBudget");
            delBudgetBtn.addEventListener("click", delBudget);


            function delBudget(e) {
                Swal.fire({
                    title: "등록된 예산을 삭제하시겠습니까?",
                    text: "삭제된 정보는 복구될 수 없습니다.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes"
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch("/budgetDelete")
                            .then(response => response.json())
                            .then(result => {
                                console.log(result);
                                if (result.result == "success") {
                                    Swal.fire({
                                        title: "삭제완료",
                                        text: "Your file has been deleted.",
                                        icon: "success"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "삭제실패",
                                        text: "Your file has been deleted.",
                                        icon: "error"
                                    });
                                }

                                location.reload();
                            })
                    }
                });
            }
        </script>
    </div>

</body>

</html>