<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>holoyolo::알뜰모임</title>
    <style>
        #myChart {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
</head>

<body>
    <div layout:fragment="content" style="margin: 0 auto; width: 80%;">
        <h5>성공그래프</h5>
        <canvas id="myChart" height="400"></canvas>


        <script src="/user/js/Chart.min.js"></script>
        <!-- <script src="/user/js/utils.js"></script> -->
        <script th:inline="javascript">
            let club = /*[[${result.club}]]*/ null;
            let histories = /*[[${result.list}]]*/ null;
        </script>

        <script src="/user/js/clubHistory.js"></script>
    </div>
</body>

</html>