<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>holoyolo::알뜰모임</title>
    <link rel="stylesheet" href="/user/css/clublist.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/common/js/jquery.twbsPagination.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

</head>

<body>
    <div layout:fragment="content">

        <div class="search_delete searchwrap">
            <div class="search header_search">
                <div class="row">
                    <form action="#" class="row col-6 search-wrap">
                        <select id="searchTitle" class="col-3">
                            <option value="clubname">클럽 이름</option>
                            <option value="clubking">클럽장 이름</option>
                        </select>
                        <input type="search" id="search_input" class="search_input col-6" required="required"
                            placeholder="검색">
                    </form>

                    <button type="button" th:onclick="|location.href='@{/member/club/clubInsert}'|" class="col-2 new_club_btn">
                        새 모임</button>
                </div>
            </div>
        </div>
        <div id="clubList" class="row">
        </div>




        <nav aria-label="Page navigation" id="page">
            <ul class="pagination" id="pagination" style="text-align: center;"></ul>
        </nav>
        <div id="userid" sec:authorize="isAuthenticated()" sec:authentication="principal.memberVO.memberId" hidden>
        </div>

        <!-- <script th:inline="javascript" type="text/javascript" th:src="@{/user/js/clublist.js}" defer></script> -->
        <script th:inline="javascript">
            let joinClub;
            if ([[${ result.joinlist }]] != null) {
                joinClub = [[${ result.joinlist }]];
            }
            else {
                joinClub = "null";
            }


            let totalCount = [[${ result.list.size() }]];

            let userId = [[${ result.userId }]];
        </script>
        <script th:src="@{/user/js/clublist.js}"></script>



    </div>

</body>

</html>