<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <div layout:fragment="content">
        <h1>클럽생성화면</h1>
        <form th:action="@{/member/clubInsert}" method="POST" th:object="${ClubVO}" encType="multipart/form-data">
            <div>
                <label id="clubProfileImg">알뜰모임 프로필사진</label>
                <input type="file" id="clubProfileImg" th:field="*{img}">
            </div>
            <div>
                <label id="clubName">알뜰모임명</label>
                <input type="text" id="clubName" th:field="*{clubName}">
            </div>
            <div>
                <label id="clubIntro">알뜰모임 한줄소개</label>
                <input type="text" id="clubIntro" th:field="*{clubIntro}">
            </div>
            <div>
                <label id="clubPeople">알뜰모임 모집인원 (최대 20명)</label>
                <input type="number" id="clubPeople" th:field="*{clubPeople}">
            </div>
            <div>
                <label id="joinCondition">알뜰모임 가입자격</label>
                <input type="text" id="joinCondition" th:field="*{joinCondition}">
            </div>
            <div>
                <label id="openScope">알뜰모임 가입승인여부</label>
                <input type="text" id="openScope" th:field="*{openScope}">
            </div>
            <button type="submit">완료</button>
        </form>
    </div>
</body>


</html>