<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <div layout:fragment="content">
        <!-- if문 걸어야함 -->
        <th:block th:if="${joinResult.joinRes == 'success'}">
            <h1>[[${joinResult.member}]]님의 가입이 승인되었습니다.</h1>
        </th:block>
        <th:block th:if="${joinResult.joinRes == 'fail'}">
            <h1>[[${joinResult.member}]]님의 가입이 거부되었습니다.</h1>
            <h1>[인원초과]</h1>
        </th:block>
    </div>
</body>

</html>