<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<!-- 소스 다운 -->
	<script src="https://unpkg.com/@yaireo/tagify"></script>
	<!-- 폴리필 (구버젼 브라우저 지원) -->
	<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
	<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<link th:href="@{/user/css/trade.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row centerwrap">
				<!-- 사진 슬라이더 -->

				<div id="carouselExampleControlsNoTouching" class="carousel slide" data-touch="false" data-interval="false">
				  <div class="carousel-inner">
				    <div class="carousel-item" th:classappend="${stat.count == 1} ? 'active' : ''" th:each="trade, stat : ${tradeImg}">
				      <img th:src="@{/images/}+ ${trade.saveFile}" class="d-block w-100" alt="...">
				    </div>
				  </div>
				  <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsNoTouching" data-slide="prev" th:if="${tradeImg.size > 1}">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsNoTouching" data-slide="next" th:if="${tradeImg.size > 1}">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </button>
				  <img class="_heart" id="heart" th:src="@{/user/images/trade/bin-heart.png}" th:if="${heartInfo == null}">
				  <img class="_heart bi-heart" id="heart" th:src="@{/user/images/trade/fill-heart.png}" th:if="${heartInfo != null}">
				</div>
				<!-- 상품정보 -->
				<div class="col-lg-6">
					<div class="product_content">
						<div class="row watchwrap bottomdown10">
							<div class="row">
								<div class="heartCount silverColor" th:text="|관심 ${heartCount.heartCount}|"></div>
								<div class="reviewCount silverColor" th:text="| │ 조회수 ${tradeInfo.views} │ ${#dates.format(tradeInfo.writeDate, 'yyyy-MM-dd')}|"></div>
							</div>
							<div class="row" th:if="${memberId != tradeInfo.sellerId}">
								<div class="report silverColor" th:onclick="reportBtn([[${tradeInfo.tradeId}]],[[${tradeInfo.sellerId}]], event)">신고하기</div>
							</div>
						</div>
						<div class="row" style="margin-bottom:20px;">
							<div class="tradeType bottomdown10" th:if="${tradeInfo.promiseStatusName != null}"><p th:text="${tradeInfo.promiseStatusName}"></p></div>
							<div class="tradeType bottomdown10" th:if="${tradeInfo.promiseStatusName == null}"><p>신청가능!</p></div>
							<div class="tradeTitle bottomdown" th:text="${tradeInfo.title}"></div>
						</div>
						<div class="tradeCategory bottomdown10">
							<span th:text="|카테고리 : ${tradeInfo.tradeCategoryName}|"></span>
						</div>
						<div class="tradeCategory bottomdown10">
							<span th:text="|거래방식 : ${tradeInfo.tradeTypeName}|"></span>
						</div>
						<div class="tradeCategory bottomdown10">
							<span th:text="|결제방식 : ${tradeInfo.paymentTypeName}|"></span>
						</div>
						<div class="tradeCategory bottomdown10" th:if="${tradeInfo.tradePlace != null}">
							<span th:text="|주소 : ${tradeInfo.tradePlace}|"></span>
						</div>
						<div class="row bottomwrap watchwrap">
							<div class="tradePrice">
								<p th:text="|${#numbers.formatInteger(tradeInfo.price, 0, 'COMMA')}원|"
									th:if="${tradeInfo.price != 0}"></p>
								<p th:text="무료나눔" th:if="${tradeInfo.price == 0}" th:style="@{color:#ff6868;}"></p>
							</div>
							
							<!-- 판매자 버튼 -->
							<div th:if="${memberId == tradeInfo.sellerId} and ${tradeInfo.promiseStatus == 'TD1'}">
								<div class="pay insertbutton" th:onclick="promiseEvent(`[[${tradeInfo.tradeId}]]`, event)">
									<p>약속취소</p>
								</div>
								<div class="pay redButton" th:onclick="promiseEvent(`[[${tradeInfo.tradeId}]]`, event)">
									<p>약속확정</p>
								</div>
							</div>
							<div th:if="${memberId == tradeInfo.sellerId} and ${tradeInfo.promiseStatus == 'TD3'} and ${memberId == tradeInfo.buyerId}">
								<div class="pay insertbutton" th:onclick="|location.href='@{/member/tradeChat(sellerId=${tradeInfo.sellerId},tradeId=${tradeInfo.tradeId})}'|">
									<p>대화하기</p>
								</div>
							</div>
							<!-- 구매자 버튼 -->
							<div th:if="${memberId != tradeInfo.sellerId} and ${tradeInfo.promiseStatus == 'TD4'}">
								<div class="pay insertbutton" th:onclick="promiseEvent(`[[${tradeInfo.tradeId}]]`, event)">
									<p>약속잡기</p>
								</div>
							</div>
							<div th:if="${memberId == tradeInfo.buyerId} and ${tradeInfo.promiseStatus == 'TD1'} and ${memberId != tradeInfo.sellerId}">
								<div class="pay insertbutton" th:onclick="promiseEvent(`[[${tradeInfo.tradeId}]]`, event)">
									<p>약속취소</p>
								</div>
							</div>
							<div th:if="${memberId == tradeInfo.buyerId} and ${tradeInfo.promiseStatus == 'TD2'} and ${memberId != tradeInfo.sellerId}">
								<div class="pay insertbutton" th:onclick="promiseEvent(`[[${tradeInfo.tradeId}]]`, event)" th:if="${tradeInfo.paymentType == 'TC1'}">
									<p>거래확정</p>
								</div>
								<div class="pay redButton" th:if="${tradeInfo.paymentType == 'TC2'}" th:onclick="|location.href='@{/member/tradePay(price=${tradeInfo.price},tradeId=${tradeInfo.tradeId})}'|">
									<p><img class="holoPay" id="holoPay" th:src="@{/user/images/trade/piggy-bank.svg}"> 홀로페이</p>
								</div>
								<div class="pay insertbutton" th:onclick="|location.href='@{/member/tradeChat(sellerId=${tradeInfo.sellerId},tradeId=${tradeInfo.tradeId})}'|">
									<p>대화하기</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><hr class="bottomdown30">

			<div class="row bottomdown10 margins">
				<img th:src="@{/images/}+ ${tradeInfo.profileImg}" alt="Profile" class="rounded-circle" th:if="${tradeInfo.profileImg != null}">
				<img th:src="@{/user/images/trade/user.png}" alt="Profile" class="rounded-circle" th:if="${tradeInfo.profileImg == null}">
				<div class="tradeCategory bottomdown">
					<span class="nickName" th:text="${tradeInfo.nickname}"></span>
				</div>
			</div>
			<div class="tradeCategory bottomdown margins bottomdown30 ddd">
				<span th:text="${tradeInfo.description}" th:style="@{white-space:pre;}"></span>
			</div><hr class="bottomdown30">
            <div class="bottomdown30" id="map" style="width:100%;height:350px;" th:classappend="${tradeInfo.tradePlace eq null or tradeInfo.tradePlace eq ''} ? 'classHidden'" ></div>
	        <div class="_card" th:unless="${tradeInfo.tradePlace != null and tradeInfo.tradePlace != ''}">
			  <div class="card-inner">
			    <div class="card-front">
			      <span>판매자가 등록한<br> 거래장소가 없습니다.</span>
			    </div>
			    <div class="card-back">
			      <span>등록된 지정 장소가 없어<br> 지도를 표시할 수 없습니다.</span>
			    </div>
			  </div>
			</div>
	        
            <div class="col-md-12 writeInput buttonFrom" th:if="${tradeInfo.sellerId == memberId}">
              <button type="button" class="btn btn-secondary" th:onclick="'location.href=\'/member/tradeUpdate?tradeId='+ @{${tradeInfo.tradeId}} +'\''">수정</button>
              <button type="button" class="btn btn-primary tradeDelete" th:onclick="deleteTrade()">삭제</button>
            </div>
        </div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=41f4363083eed1ec3ebd60c038e1c2b7"></script>
        <script th:inline="javascript">
          let tradePlace = [[${tradeInfo.tradePlace}]];
          let latitude = [[${tradeInfo.latitude}]];
          let longitude = [[${tradeInfo.longitude}]];
          let tradeId = [[${tradeInfo.tradeId}]];
          let heart = `[[${heartCount.heartCount}]]`;
		  let title = `[[${tradeInfo.title}]]`;
		  let sellerId = `[[${tradeInfo.sellerId}]]`;
		  let buyerId = `[[${tradeInfo.buyerId}]]`;
        </script>
		<script src="/user/js/tradeInfo.js"></script>
	</div>
</body>

</html>