<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/user/css/trade.css}" rel="stylesheet" type="text/css">
<!-- 소스 다운 -->
<script src="https://unpkg.com/@yaireo/tagify"></script>
<!-- 폴리필 (구버젼 브라우저 지원) -->
<script
	src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css"
	rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" src="/common/js/jquery.twbsPagination.min.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="searchwrap">
			<form action="#">
				<div>
					<select id="searchTitle">
						<option disabled selected>카테고리</option>
						<option value="TB1">생활용품</option>
                        <option value="TB2">의류</option>
                        <option value="TB3">식퓸</option>
                        <option value="TB4">반려용품</option>
                        <option value="TB5">도서</option>
                        <option value="TB6">문구</option>
                        <option value="TB7">가구</option>
                        <option value="TB8">기타</option>
                   	</select>
                   	<label class="sellcheck">
					  <span>판매완료 제외<input type="checkbox"></span>
					</label>
					<div class="insertbutton">
						<p>게시글 등록</p>
					</div>
				</div>
				<select id="searchTitle">
					<option disabled selected>제목/지역명</option>
                    <option value="title">제목</option>
                    <option value="tradePlace">지역명</option>
                </select>
				<div class="search header_search">
					<input type="search" id="search_input" class="search_input" required="required"
						placeholder="검색">
					<button type="submit" id="search_button" class="search_button">
						<img th:src="@{/common/images/magnifying-glass.svg}">
					</button>
				</div>
			</form>
		</div>
		<div class="container">
			<div class="row">
				<!-- 중고거래 리스트 -->
				<div class="col mb-5" th:each="trade, stat : ${tradeList[0]}" th:if="${tradeList != 'null'}">
					<div class="card h-100">
						<!-- Sale badge-->
						<div class="badge bg-dark text-white position-absolute"
							style="top: 0.5rem; right: 2.5rem" th:text="${trade.tradeType}"></div>
						<div class="badge bg-dark text-white position-absolute"
							style="top: 0.5rem; right: 0.5rem" th:text="${trade.promiseStatus}"></div>
						<!-- Product image-->
						<img class="card-img-top"
							src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
						<!-- Product details-->
						<div class="card-body p-4">
							<div class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder" th:text="${trade.title}"></h5>
								<!-- Product reviews-->
								<div
									class="d-flex justify-content-center small text-warning mb-2">
									<div class="bi-star-fill"></div>
									<div class="bi-star-fill"></div>
									<div class="bi-star-fill"></div>
									<div class="bi-star-fill"></div>
									<div class="bi-star-fill"></div>
								</div>
								<!-- Product price-->
								<div><span class="text-muted text-decoration-line-through" th:text="${trade.price}"></span></div>
								<div><span class="text-muted text-decoration-line-through" th:text="${trade.tradeCategory}"></span></div>
								<div><span class="text-muted text-decoration-line-through" th:text="${#dates.format(trade.writeDate, 'yyyy-MM-dd')}"></span></div>
							</div>
						</div>
					</div>
				</div>
				<!-- 중고거래 리스트 끝 -->
			</div>
		</div>
		<nav aria-label="Page navigation" id="page">
            <ul class="pagination" id="pagination" style="text-align: center;"></ul>
        </nav>
        <script th:src="@{/user/js/trade.js}"></script>
	</div>
</body>
</html>