<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>holoyolo::중고거래</title>
<link th:href="@{/user/css/trade.css}" rel="stylesheet" type="text/css">
<!-- 소스 다운 -->
<script src="https://unpkg.com/@yaireo/tagify"></script>
<!-- 폴리필 (구버젼 브라우저 지원) -->
<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="row holoPaywrap" style="margin-bottom: 50px;">
				<div class="row w-100 watchwrap fontStyle">
					<h3><img class="payImg form-label" th:src="@{/user/images/trade/coin.png}">홀로페이·포인트</h3>
					<h3 class="myPrice" th:text="|보유 페이 : ${#numbers.formatInteger(holoPayCnt, 0, 'COMMA')} 원|"></h3>
				</div>
				<p style="margin:10px 0 0 0;">사용 후 남은 보유 금액</p>
				<div class="row w-100 watchwrap fontStyle" style="margin-top:0">
				<img class="payImg form-label lineStyle" th:src="@{/user/images/trade/line.png}">
					<div >포인트</div>
					<div class="form-label oriPoint" th:text="|${#numbers.formatInteger(pointCnt, 0, 'COMMA')}  P|"></div>
				</div>
				<div class="row w-100 watchwrap fontStyle2">
					<div>홀로페이</div>
					<div class="form-label oriHoloPay" th:text="|${#numbers.formatInteger((holoPayCnt - price), 0, 'COMMA')} 원|"></div>
				</div>
				<div class="row">
					<div class="input-group mb-3 row w-100 watchwrap fontStyle2">
						<div style="width:250px;">포인트 사용</div>
		               <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" th:maxlength="${pointCnt.toString().length}" class="form-control col-7 borderRadi pointSel">
		               <span class="input-group-text payInsert col-2" id="basic-addon2" style="padding-left: 40px;" th:onclick="payAllSel()">전액사용</span>
		               <span class="pointUnit">P</span>
		            </div>
		            <p style="text-align: center; margin: 35px auto; white-space: break-spaces;">2019.07.01.부터 개정 시행되는 특정 금융거래정보법에 따라 계좌 미연결한 고객은
		             포인트 최대 50만원 보유/1회 사용 한도가 적용됩니다.<br> 계좌 연결 시 각 보유/1회 사용 한도는 200만원까지 확대됩니다.</p>
				</div>
			</div>
			<div class="row holoPaywrap">
				<div class="row w-100 watchwrap fontStyle" style="border-bottom: 1px solid #bbb;">
					<h3>결제상세</h3>
				</div><hr>
				<div class="row w-100 watchwrap fontStyle2">
					<div>결제금액</div>
					<div class="form-label usePrice" th:text="|${#numbers.formatInteger(price, 0, 'COMMA')} 원|"></div>
				</div>
				<div class="row w-100 watchwrap fontStyle" style="color: #9a9a9a;">
				<img class="payImg form-label lineStyle" th:src="@{/user/images/trade/line.png}">
					<div>포인트 사용</div>
					<div class="form-label usePoint" th:text="|0  P|"></div>
				</div>
				<div class="row w-100 watchwrap fontStyle2" style="color: #9a9a9a;">
					<div>홀로페이 사용</div>
					<div class="form-label useHoloPay" th:text="|${#numbers.formatInteger(price, 0, 'COMMA')} 원|"></div>
				</div>
			</div>
			<div class="contentEnd">
				<div style="margin-right: 20px;">결제 내용을 확인하였으며, 정보 제공 등에 동의합니다.</div>
				<div class="insertbutton">
					<p>결제하기</p>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
			let pointCnt = [[${pointCnt}]];
			let holoPayCnt = [[${holoPayCnt}]];
			let price = [[${price}]];
			let tradeId = [[${tradeId}]];
			let sellerId = [[${sellerId}]];
		</script>
		<script src="/user/js/tradePay.js"></script>
	</div>
</body>
</html>