<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/user/css/trade.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="row holoPaywrap">
				<div class="row w-100 watchwrap">
					<h3><img class="payImg" th:src="@{/user/images/trade/coin.png}">홀로페이·포인트</h3>
					<div th:text="|보유 : |"></div>
				</div>
				<div class="row w-100 watchwrap">
					<div>포인트</div>
					<div th:text="|  P|"></div>
				</div>
				<div class="row w-100 watchwrap">
					<div>홀로페이</div>
					<div th:text="| 원|"></div>
				</div>
				<div class="row">
				<div class="input-group mb-3 row w-100 watchwrap">
					<div>포인트 사용</div>
	               <input type="text" class="form-control">
	               <span class="input-group-text payInsert" id="basic-addon2">전액사용</span>
	            </div>
	            <div class="input-group mb-3 row w-100 watchwrap">
	            	<div>홀로페이 사용</div>
	               <input type="text" class="form-control">
	               <span class="input-group-text payInsert" id="basic-addon2">전액사용</span>
	            </div>
	            <p style="text-align: center;">2019.07.01.부터 개정 시행되는 특정 금융거래정보법에 따라 계좌 미연결한 고객은
	             포인트 최대 50만원 보유/1회 사용 한다고 적용됩니다.<br> 계좌 연결 시 각 보유/1회 사용 한도는
	              200만원까지 확대됩니다.</p>
			</div>
				
			</div>
			
			
		</div>
	</div>
</body>
</html>