<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/user/css/tradeChat.css}" rel="stylesheet" type="text/css">
</head>

<body>
	<div layout:fragment="content" id="container">
		<div class="test">
			<div>
				<h4>
					&#128181;[[${result.trade.title}]] 
					<button class="btn btn-primary" 
							th:onclick="|location.href='@{/member/tradeInfo(tradeId=${result.trade.tradeId},sellerId=${result.trade.sellerId})}'|">
							중고거래 페이지로
					</button>
				</h4>
			</div>
			<div id="chattingDiv">
	
			</div>
			<div class="send-div">
				<textarea id="sendArea"></textarea>
				<button class="btn btn-warning" id="sendChat" onclick="sendMsg()">전송</button>
			</div>
		</div>


		<script th:inline="javascript">
			let trade = /*[[${result.trade}]]*/ null;

			let memberId = /*[[${member.memberId}]]*/ null;
			let memberName = /*[[${member.memberName}]]*/ null;
			let room = /*[[${room}]]*/ null;
			let chats = /*[[${chats}]]*/ null;
		</script>
		<script th:src="@{/user/js/tradeChat.js}"></script>

	</div>

</body>

</html>