<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>holoyolo::로그인</title>
<link rel="stylesheet" href="/user/login/vendors/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/user/login/vendors/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/user/login/vendors/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/user/login/vendors/linericon/style.css">
<link rel="stylesheet" href="/user/login/vendors/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet" href="/user/login/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet" href="/user/login/vendors/nice-select/nice-select.css">
<link rel="stylesheet" href="/user/login/vendors/nouislider/nouislider.min.css">
<link rel="stylesheet" href="/user/login/css/style.css">
</head>
<body class="section_wrap">
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="login_form_inner">
						<a th:href="@{/}"><img th:src="@{/user/images/logo/logo3.png}" class="logo" title="홈으로"></a>
						<form class="row login_form" action="/login" method="post" id="loginForm" >
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="memberId" name="memberId" placeholder="이메일 주소" onfocus="this.placeholder = '이메일 주소'" onblur="this.placeholder = '이메일 주소'" required="required">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" onfocus="this.placeholder = '비밀번호'" onblur="this.placeholder = '비밀번호'" required="required">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<label for="f-option2" class="link-text">
										<input type="checkbox" id="f-option2" name="selector">
										로그인 유지
									</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">로그인</button>
							</div>
							<div class="col-md-12 flex-space-between login-btn-under">
								<a class="link-text" th:href="@{/findForm}">아이디/비밀번호 찾기</a>
								<a class="link-text" th:href="@{/joinForm}">회원가입</a>
							</div>
							<div class="sns_login">
								<a class="sns_btn naver" th:href="@{/oauth2/authorization/naver}"><img alt="네이버로그인" th:src="@{/user/images/login/icon_naver.png}"></a>
								<a class="sns_btn kakao" th:href="@{/oauth2/authorization/kakao}"><img alt="카카오로그인" th:src="@{/user/images/login/icon_kakao.png}"></a>
								<a class="sns_btn google" th:href="@{/oauth2/authorization/google}"><img alt="구글로그인" th:src="@{/user/images/login/icon_google.png}"></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>