<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8">
<title>holoyolo::자주하는 질문</title>
<link rel="stylesheet" type="text/css" th:href="@{/common/styles/contact.css}">
<link rel="stylesheet" type="text/css" th:href="@{/common/styles/contact_responsive.css}">
</head>
<body >
<th:block layout:fragment="content">
	<!--/* FAQ */-->
	<div class="col-lg-12">
		<div class="faq">
			<h2 class="h2_title">FAQ</h2>
			<div class="faq_content">
				<!-- Accordions -->
				<div class="accordions">

					<div class="accordion_container">
						<div class="accordion d-flex flex-row align-items-center active">
							<div>[회원정보] 회원정보 변경은 어떻게 하나요?</div>
						</div>
						<div class="accordion_panel">
							<p>
								1. 회원 로그인 후, 마이 > 회원정보관리 > 회원정보 수정에서 변경할 수 있습니다.<br>
								2. 직접 변경이 어려운 경우<br>
								  - 메일 : holoyolo@mail.com<br>
								  - 1:1문의 : 고객센터 > 1:1문의<br>
							</p>
						</div>
					</div>

					<div class="accordion_container">
						<div class="accordion d-flex flex-row align-items-center">
							<div>[회원정보] 아이디(ID)와 비밀번호(Password)를 잊어버렸어요. 어떻게 확인하나요?</div>
						</div>
						<div class="accordion_panel">
							<p>
								<b>아이디(ID) 찾기</b>
								<br>
								회원 로그인 화면에서 [아이디/비밀번호 찾기] > [아이디 찾기 탭] > [본인인증]을 통하여 바로 확인하실 수 있습니다. 
								<br><br>
								<b>비밀번호 찾기</b> 
								<br>
								1. 회원 로그인 화면에서 [아이디/비밀번호 찾기] > [비밀번호 찾기 탭] [이메일]를 선택<br>
								2. 일치하시는 정보가 있는 경우 해당 메일로 임시 비밀번호가 발급 됩니다.<br>
								3. 임시비밀번호로 로그인 후 개인정보 보호를 위해 비밀번호를 재설정하길 바랍니다.
							</p>
						</div>
					</div>

					<div class="accordion_container">
						<div class="accordion d-flex flex-row align-items-center">
							<div>[회원정보] 인증메일이 오지 않았어요.</div>
						</div>
						<div class="accordion_panel">
							<p>
								각 메일 서비스에 따라 메일 도착 시간이 조금 지연될 수 있습니다.<br>
								메일이 도착하지 않을 경우 스팸 메일함을 확인해 보시거나 교보문고의 메일 주소가 수신 차단되어있는지 확인 바랍니다.<br>
								<br>
								※ 구글 메일의 경우 받은 편지함에서 확인되지 않는 경우 중요편지함, 프로모션함을 확인해 주시기 바랍니다.<br>
								  (지메일의 경우 프로모션으로 자동 분류되며 메일 설정에 따라 다른 편지함으로 도착할 수 있습니다.) 
							</p>
						</div>
					</div>
					
					<div class="accordion_container">
						<div class="accordion d-flex flex-row align-items-center">
							<div>[회원정보] 소셜 로그인 후 마이페이지로 이동합니다.</div>
						</div>
						<div class="accordion_panel">
							<p>
								소셜로그인의 경우 최초 가입시 주소와 휴대폰 번호를 추가로 입력해주셔야 합니다.<br>
								마이페이지에서 주소입력 및 휴대폰번호 인증을 진행하시면 이후 로그인시 마이페이지로 이동하지 않습니다.
							</p>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	<script th:src="@{/common/js/contact_custom.js}"></script>
</th:block>
</body>
</html>