<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminLayout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
<div layout:fragment="content">
		<div class="container-xxl flex-grow-1 container-p-y">
			<h4 class="fw-bold py-3 mb-4">홀로페이관리</h4>
			<!-- Hoverable Table rows -->
			<div class="card">
				<h5 class="ps-4 pt-4">
					전체문의 <span style="color: skyblue">30개</span>
				</h5>
				<div class="ps-4 pb-4 demo-inline-spacing">
					<button type="button" class="btn btn-outline-primary">전체</button>
					<button type="button" class="btn btn-outline-primary">
						일반회원</button>
					<button type="button" class="btn btn-outline-primary">
						거래정지</button>
					<button type="button" class="btn btn-outline-primary">
						계정정지</button>
				</div>
				<div class="table-responsive text-nowrap">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>이름</th>
								<th>회원아이디</th>
								<th>연락처</th>
								<th>주소</th>
								<th>가입일자</th>
								<th>회원유형</th>
							</tr>
						</thead>
						<tbody class="table-border-bottom-0">
							<th:block th:each="list, stat : ${holopayList}">
								<tr>
									<td th:text="${list.memberName}"><i
										class="fab fa-angular fa-lg text-danger me-3"></i> <strong>1</strong></td>
									<td th:text="${list.memberId}"></td>
									<td th:text="${list.phone}"></td>
									<td th:text="${list.addr}"></td>
									<td th:text="${#dates.format(list.joinDate, 'yyyy-MM-dd')}"></td>
									<td><span class="badge bg-label-primary me-1" th:text="${list.role}"></span></td>
									<td>
										<div class="dropdown">
											<button type="button"
												class="btn p-0 dropdown-toggle hide-arrow"
												data-bs-toggle="dropdown">
												<i class="bx bx-dots-vertical-rounded"></i>
											</button>
											<div class="dropdown-menu">
												<a class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-edit-alt me-1"></i> 수정</a> <a
													class="dropdown-item" href="javascript:void(0);"><i
													class="bx bx-trash me-1"></i> 삭제</a>
											</div>
										</div>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			<!--/ Hoverable Table rows -->
		</div>
	</div>
</body>
</html>