<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
    <div th:fragment="footerFragment">
		<div class="footer_logo"><img th:src="@{/user/images/logo/logo_white.png}"></div>
		<nav class="footer_nav">
			<ul>
				<li>상호 : holoyolo | 대표자 : 나혼자 | 개인정보 담당자 : 잘산다</li>
				<li>사업자등록번호 : 987-12-34567 | 이메일 : holoyolo@mail.com</li>
				<li>주소 : 대구광역시 중구 중앙대로 403 (남일동 135-1, 5층)</li>
			</ul>
			<ul>
				<li>© Copyright 2023 <span>hololyolo</span> All Rights Reserved.</li>
			</ul>
		</nav>
    </div>

</body>

</html>