<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="col-3" th:fragment="sidemenuFragment" >
	<div class="sidebar_section" >
		<div class="sidebar_title">Categories</div>
		<div class="sidebar_section_content">
			<ul>
				<li><a href="#">Wedding Dresses (23)</a></li>
				<li><a href="#">Swimsuits (11)</a></li>
				<li><a href="#">Jeans (61)</a></li>
				<li><a href="#">Tops (34)</a></li>
			</ul>
		</div>
	</div>
</div>		
</body>
</html>