<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="col-3 my_col_3" th:fragment="sidemenuFragment" >
	<div class="sidebar_section" >
	
		<!--/* 헤더 메뉴마다 내용바꾸기 */-->
		
		<!--/*  <div class="sidebar_section_content" th:if="${menu == 'mypage'}"> */-->
		<div class="sidebar_title side_main_menu">마이페이지</div>
			<ul>
				<li class="side_main_menu"><a href="#" th:class="${subMenu eq 'memberInfo'}? 'submenu_active' : ''">내정보</a></li>
				<li class="side_main_menu"><a th:href="@{myHolopay}">홀로페이</a></li>
				<li class="side_main_menu"><a href="#">포인트</a></li>
				<li class="side_main_menu"><a href="#">나의 중고거래</a></li>
				<!--/* 나의중고거래 서브메뉴 start */-->
				<li class="side_sub_menu"><a href="#">판매내역</a></li>
				<li class="side_sub_menu"><a href="#">구매내역</a></li>
				<li class="side_sub_menu last_sub_menu"><a href="#">관심목록</a></li>
				<!--/* 나의중고거래 서브메뉴 start */-->
				<li class="side_main_menu"><a href="#">나의 알뜰모임</a></li>
				<li class="side_main_menu"><a href="#">나의 커뮤니티</a></li>
			</ul>
		<!--/* <div> */--> 
		
		
	</div>
</div>		
</body>
</html>