<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div layout:fragment="content">
       
        <div class="container">
            <!--/* 잔액조회 */-->
            <div>

            </div>
            <!--/* 충전/인출 버튼 */ -->
            <div>
                <button type="button" id="rechargeBtn" class="btn-pramary">충전</button>
                <button type="button" id="takeOutBtn" class="btn-pramary">인출</button>
            </div>
        </div>
    </div>
<script>
    let rechargeBtn = document.getElementById('rechargeBtn');//충전버튼
   
    let takeOutBtn = document.getElementById('takeOutBtn');//반환버튼

    //버튼 누를 시 ajax로 계좌 등록 되어 있는지 체크

    //안되어 있다면 계좌 등록 페이지로 이동


    //등록 되어 있다면 해당 기능 api 컨트롤러 호출
        //충전


        //반환

</script>
</body>

</html>