<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>HoloYolo::회원가입</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap4/bootstrap.min.css}">
<link rel="stylesheet" href="/user/css/login.css">
<link rel="stylesheet" th:href="@{/user/css/join.css}">
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
</head>
<body>
	<div id="container">
		<div class="left_area">
			<p class="ad_title">
				내 돈 관리,<br>
				HoloYolo에서<br>
				똑똑한 소비관리<br>
				시작하세요
			</p>
			<img alt="광고" th:src="@{/user/img/banner.png}">
		</div>
		<div class="right_area">
			<p class="logo"><a th:href="@{/}">holoyolo</a></p>
			<div class="login_form">
				<form action="/join" method="post" class="flex_col">
					<label>
						<span class="attr_name">이름</span> 
						<input type="text" id="memberName" name="memberName" class="form-control" required="required">
					</label>
					<label>
						<span class="attr_name">아이디</span>
						<span class="input input_wrap">
							<span class="flex">
								<input type="email" id="memberId" name="memberId" placeholder="이메일 형식으로 입력하세요" class="form-control" aria-describedby="emailHelp" required="required">
								<button type="button" class="btn" id="idCheck">중복확인</button>
							</span>
						</span>
					</label>
					<label>
						<span class="attr_name">닉네임</span>
						<span class="input input_wrap">
							<span class="flex">
								<input type="text" id="nickname" name="nickname" class="form-control" required="required">
								<button type="button" class="btn" id="nickCheck">중복확인</button>
							</span>
						</span>
					</label>
					<label>
						<span class="attr_name">비밀번호</span>
						<input type="password" id="password" name="password" class="form-control" required="required">
					</label>
					<label>
						<span class="attr_name">비밀번호 확인</span>
						<input type="password" id="pwdCheck" class="form-control" required="required">
					</label>
					<label>
						<span class="attr_name">주소</span>
						<span class="flex-col input input_wrap addr_wrap">
							<span class="flex">
								<input type="text" id="addr1" name="addr" class="form-control" required="required" placeholder="주소">
								<button type="button" class="btn" id="addrSearch" onclick="sample2_execDaumPostcode()">주소검색</button>
							</span>
							<input type="text" id="addr2" class="form-control" required="required" placeholder="상세주소">
							<!-- <input type="text" id="addr3" class="input"> -->
						</span>
					</label>
					<label>
						<span class="attr_name">휴대폰번호</span>
						<span class="input input_wrap addr_wrap">
							<span class="flex">
								<input type="tel" id="phone" name="phone" placeholder="숫자만 입력하세요" class="form-control" required="required">
								<button type="button" class="btn" id="authNumCheck">인증번호 발송</button>
							</span>
							<span class="flex" id="check_phone_wrap">
								<input type="text" id="checkPhone" placeholder="인증번호를 입력하세요" class="form-control" required="required">
								<button type="button" class="btn" id="userCheck">본인인증</button>
							</span>
							<span id="time_min">03</span>:
							<span id="time_sec">00</span>
						</span>
					</label>
					<div class="button_wrap">
						<button type="submit" id="joinBtn" class="button">가입하기</button>
					</div>
					<input type="hidden" name="snsYn" value="N">
				</form>
			</div>
		</div>
	</div>
	<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
	<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
	</div>
	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/user/js/join.js"></script>
</body>
</html>