<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" href="/user/css/login.css">
</head>
<body>
	<div id="container">
		<div class="left_area">
			<p class="ad_title">
				내 돈 관리,<br>
				HoloYolo에서<br>
				똑똑한 소비관리<br>
				시작하세요
			</p>
			<img alt="광고" th:src="@{/user/img/banner.png}">
		</div>
		<div class="right_area">
			<p class="logo">holoyolo</p>
			<div class="login_form">
				<form action="/login" method="post" class="flex_col">
					<input class="login_input" type="text" id="u_id" name="memberId" placeholder="이메일 주소">
					<input class="login_input" type="password" id="u_pwd" name="password" placeholder="비밀번호">
					<label><input class="login_check" type="checkbox">로그인 상태 유지</label>
					<div>
						<button class="login_input login_btn" type="submit">로그인</button>
						<div class="flex_between">
							<p class="link">아이디/비밀번호 찾기</p>
							<a th:href="@{joinForm}"><p class="link bold_text">회원가입</p></a>
						</div>
					</div>
					<div class="sns_login">
						<button class="sns_btn naver"><img alt="네이버로그인" th:src="@{/user/img/icon_naver.png}"></button>
						<button class="sns_btn kakao"><img alt="카카오로그인" th:src="@{/user/img/icon_kakao.png}"></button>
						<button class="sns_btn google"><img alt="구글로그인" th:src="@{/user/img/icon_google.png}"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>