@charset "UTF-8";

    .chatBox {
        /* border: 1px solid black; */
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid gainsboro;
    }

    .not {
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: red;
        color: white;
        font-size: small;
    }

    .img-div {
        flex: 1; 
        display: flex; 
        justify-content: center;
    }

    .profile {
        width: 100px; 
        height: 100px;
        object-fit: cover; 
        border-radius: 50px;
    }

    .type {
        color: red; 
    }

    .gray {
        color: gray;
    }

    .btn-div {
        margin-top: 30px;
        display: flex; 
        justify-content: center;
    }

    .btn {
        font-size: 18px;
        color: white;
    }
    .btn-primary {
        margin: 0;
        background: #09203f;
        border: none;
        height: 50px;
    }