@charset "UTF-8";

.star_rating {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    float: left;
    flex-direction: row;
    justify-content: flex-start;
}

.star_rating .star {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FE2bww%2FbtsviSSBz4Q%2F5UYnwSWgTlFt6CEFZ1L3Q0%2Fimg.png') no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.star_rating .star.on {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    background: url('https://blog.kakaocdn.net/dn/b2d6gV/btsvbDoal87/XH5b17uLeEJcBP3RV3FyDk/img.png') no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.star_box {
    width: 400px;
    box-sizing: border-box;
    display: inline-block;
    margin: 15px 0;
    background: #F3F4F8;
    border: 0;
    border-radius: 10px;
    height: 100px;
    resize: none;
    padding: 15px;
    font-size: 13px;
    font-family: sans-serif;
}

.btn02 {
    display: block;
    width: 400px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    max-height: 50px;
    padding: 15px 0;
    font-size: 1.1em;
    text-align: center;
    background: bisque;
}

.divbox {
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    margin-bottom: 20px;
}

.btn {
    border: 0;
    background-color: white;
}

.writeDate {
    font-size: smaller;
}