.info {
    border-radius: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    margin-bottom: 30px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 20px;
    /* height: 350px; */

}


/* .memberList {
    width: 250px;
    height: 250px;
    overflow-y: scroll;
   
} */

.memberList {
    width: 250px;
    height: 400px;
    /* padding: 20px; */
    overflow-y: scroll;
}

/* Chrome, Edge, and Safari */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ec79ab;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.kingImg {
    width: 30px;
    height: 30px;
}

.nickname {
    background-color: pink;
    font-weight: bold;
}

.clubInfo {
    height: 100%;
}


.mybtn {
    border: 0;
    background-color: white;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#profile-container {
    display: flex;
    align-items: center;
    height: 100%;
}

#profile {
    max-width: 30%;
    max-height: 30%;
    width: auto;
    /* 추가 */
    height: auto;
    /* 추가 */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info .row>div {
    flex: 1;
    box-sizing: border-box;
}

hr {
    width: 100%;
}


/* 반응형 스타일 */
@media (max-width: 768px) {
    .info .row>div {
        width: 100%;
        margin: 1rem 0;
    }
}

.upload {
    width: 150px;
    height: 150px;
    border: 1px solid #B3B3B3;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

#memberProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    gap: 5px;
}

.btn {
    margin-top: 10px;
}

/* 추가 */
.club_info {
	gap: 30px;
}
.fade.show {
	margin-left: 15px;
	margin-right: 15px;
}
.club_page_wrap .row {
	margin: 0;
}
.clubInfo, .memberList {
	border-radius: 5px;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.upload {
	border-radius: 10px;
	width: 200px;
	height: 250px;
	border: none;
}
#profile-container {
	height: 100%;
}
.btn_wrap {
	display: flex;
	gap: 5px;
	justify-content: flex-end;
}
.btn {
	font-size: 12px;
}
.btn-primary {
	margin: 0;
	background: #09203f;
	border: none;
}
.club_name {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.club_name p {
	font-size: 25px;
	margin: 0;
	color: #232323;
	font-weight: 700
}
.leader {
	width: 22px;
	margin-top: 3px;
}
.info_wrap {
	justify-content: space-between;
}
.dp-flex-col {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.dp-flex-center {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 15px;
}
h4 {
	font-size: 15px;
	margin: 0;
}
.text-bg-color {
	display: inline-block;
	background: #e6e6e6;
	font-size: 12px;
	padding: 5px 8px;
	border-radius: 5px;
	margin-right: 6px;
	width: 73px;
	text-align: center;
}
.budget_unit {
	display: inline-block;
	background: #09203f;
	font-size: 11px;
	padding: 5px 7px;
	border-radius: 5px;
	color: #fff;
}
.mybtn {
	background: transparent;
}
.club_page_wrap .content_wrap {
	margin-top: 40px;
}
.memberList {
	height: 100%;
}
.info {
	padding: 30px;
}
hr {
	margin-top: 30px;
}
.member_profile {
	width: 40px;
	height: 40px;
	background-size: cover;
	border-radius: 50%;
	border: 1px solid #e6e6e6;
}
.rank_member_info {
	margin-bottom: 10px;
}