@charset "UTF-8";

#chattingDiv {
    /* background-image: ; */
    background-color: darkcyan;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    padding: 20px;
    overflow-y: auto;
}

#sendArea {
    width: 80%;
    border-radius: 20px;
    height: 50px;
    padding: 10px;
    border: 3px solid #ffc107;
}

.me,
.other {
    width: 300px;
    /* color: white; */
    font-weight: bold;
    border-radius: 20px;
    padding: 10px;
    color: black;
}

.other {
    background-color: white;

}

.me {
    background-color: #ffc107;

}

.sender {
    color: white;
}

.me_div {
    display: flex;
    justify-content: end;
}

.me_div>.box>.sender {
    text-align: end;
}

.enter {
    color: white;
    text-align: center;
}

#sendChat {
    width: 100px;
}

#size {
    font-size: small;
    color: orangered;

}

#noticeBox {
    width: 100%;
    height: 50px;
    line-height: 30px;
    background-color: rgb(250 41 41 / 14%);
    /* border-radius: 10px; */
    border: 2px solid rgb(250 41 41 / 35%);
    padding: 10px;
}

.noticeImg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#noticeText {
    font-weight: bold;
}

#noticeChat {
    border-radius: 10px;
    background-color: rgb(241 231 238);
    border: 2px solid rgb(250 41 41 / 80%);
    padding: 10px;
}