        .search {
            width: 100%;
            position: realative;
        }

        .search_delete {
            margin-bottom: 15px;
        }

        .searchwrap {
            display: flex;
            justify-content: space-evenly;
        }

        .deleteAll {
            margin-top: 17px;
        }

        #pagination {

            justify-content: center;
        }
        #clubList {
            display: flex;
            justify-content: center;
        }

        .card_club {
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: flex;
            width: 400px;
            height: 150px;
            margin: 10px;
            padding: 20px;
            
            -ms-flex: 0 0 48%;
		    flex: 0 0 48%;
		    max-width: 48%;
        }

        .club_img,
        .club_info {
            flex: 1;
        }

        .club_info {
            font-size: 12px;
        }

        .club_img {
            justify-content: center;
            display: flex;
        }


/* 검색 */
.row {
	margin: 0;
}
.header_search > .row {
	margin: 0 15px;
	justify-content: space-between;
}
