@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
	font-family: 'Noto Sans KR', sans-serif !important;
}
.menu_mypage_wrap {
	margin-top: 7px;
}
.menu {
	background: #eef5fa !important;
}

#header_wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	width: 100%;
	/* height: 120px; */
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.04) 0px 2px 4px -1px;
}
.my_col_3 {
    max-width: 22% !important;
}
.my_col_9 {
    -ms-flex: 0 0 78%;
    flex: 0 0 78%;
    max-width: 78%;
}
.logo img {
	width: 130px;
	display: inline-block;
	margin-left: 10px;
}
.nickname_area {
	display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 65px;
    height: 20px;
    text-align: left;
}
.footer {
	background: #040e1c;
	padding: 50px 50px 80px 50px;
}
.footer_logo a, .footer_nav ul li a {
	color: #fff;
}
.footer_logo img {
	display: inline-block;
	width: 200px;
	margin-bottom: 20px;
}

.sub_nav_wrap {
	display: none;
}
.sub_nav {
	position: absolute;
	top: 10px;
	width: 120px;
	display: block;
	background: #e6e6e6;
	box-sizing: border-box;
	padding: 10px;
}
.sub_nav ul {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}
.sub_nav ul li {
	margin: 0 !important;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 5px 0;
}
.sub_nav ul li a {
	padding: 0;
	font-size: 14px;
}
.main_menu:hover .sub_nav_wrap {
	display: block;
}
.menu_mypage {
	display: flex;
	gap: 5px;
	color: #6f42c1 !important;
	text-transform: none !important;
}
.menu_mypage span {
	color: #000 !important;
}
.login_area {
	position: absolute;
	top: 2px;
	right: 14px;
}

.login_area span a {
	font-size: 12px;
	color: #797979;
}


/* 사이드메뉴 */
.side_main_menu {
	font-weight: 700;
}
.side_sub_menu {
	padding-left: 22px !important;
	border-bottom: none !important;
}
.last_sub_menu {
	border-bottom: solid 1px #e0e3e4 !important;
}

.sidebar_section:hover .last_sub_menu {
	border-bottom: solid 1px #937c6f !important;
}
.submenu_active {
	color : #0015bf !important;
}


@media (max-width: 768px) {
	.body_wrap {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	
	.my_col_3, .my_col_9, #contents {
		max-width: 100% !important;
	}
	.my_content {
		padding-left: 15px !important;
	}
}


/* 마이페이지 - 내정보 */
.input_file {
	display: none;
}
.thumImg_upload {
	width: 90px; 
	height: 90px; 
	border: 1px solid #B3B3B3;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.image-preview {
	padding: 0;
	margin: 0;
}
.image-preview li {
	list-style: none;
}
.dp_flex {
	display: flex;
}
.position_rela {
	position: relative;
}
.position_absol {
	position: absolute;
}
.menu_mypage_mobile {
	display: none;
}

@media only screen and (max-width: 991px)
{
	.menu_mypage_mobile {
		display: inline-block;
	}
}


/* Chrome, Edge, and Safari */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #ec79ab;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

