*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
form {
	width: 50%;
	margin: 0 auto;
}
label {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.attr_name {
	display: flex;
	width: 20%;
	min-width: 120px;
	align-items: center;
}
.input {
	width: 100%;
	padding: 8px;
}
.input_wrap {
	padding: 0;
}
.addr_wrap span,
.input_wrap > input {
	margin-bottom: 10px;
}
.flex {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.btn {
	padding: 8px;
	min-width: 80px
}
