@charset "utf-8";

.my_col_9 {
	padding: 0 40px;
}
.h2_title {
	margin-left: 5px;
	font-size: 25px;
}
.h2_title::before {
	content: '';
    background: royalblue;
    color: #ffffff;
    display: inline-block;
    width: 3px;
    height: 20px;
    margin-right: 10px;
}
.content_wrapper {
	border: 1px solid #e6e6e6;
	border-radius: 10px;
	padding: 30px;
	margin-top: 30px;
}
#warningText .text li {
	line-height: 2;
}
#warningText .text li::before {
	content: "";
	display: inline-block;
	background-image: url( "/user/images/mypage/check.svg" );
	background-size: 13px 13px;
	width: 13px;
	height: 13px;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 2px;
}
.title {
	color: #585858;
	font-size: 15px;
}
.title::before {
	content: "";
	display: inline-block;
	background-image: url( "/user/images/mypage/warn.svg" );
	background-size: 14px 14px;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 2px;
}
.bold_text {
	font-weight: 700;
}
.blue_text {
	color: #3d70e2;
	font-weight: 700;
}
.red_text {
	color: #e23d3d;
	font-weight: 700;
}
#agreeArea {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: #fbfbfb;
}
.agree_text {
	display: flex;
	align-items: center;
	gap: 10px;
}
#buttonWrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin-top: 30px;
}
#cancleBtn, #deleteBtn {
	padding: 8px 15px;
	border: none;
	border-radius: 5px;
	color: #fff;
	font-weight: 700;
}
#cancleBtn {
	background: #e23d3d;
}
#deleteBtn {
	background: #040e1c;
}

#deleteModal {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
}
#deleteModal p {
	color: #e23d3d;
	font-size: 17px;
}
#deleteModal label {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
}
#deleteModal input {
	width: 60%;
	padding: 5px;
}