@charset "UTF-8";



.memo {
	position: relative;
	width: 200px;
	min-height: 100px;
	border: none;
	border-radius: 8px;
	margin: 12px;
	cursor: move;
	background: #FFF2CC;
	display: inline-block;
	margin: 10px;
	padding: 10px;
}

.draggable.dragging {
	opacity: 0.5;
}

.text {
	padding: 5px;
	margin: 10px;
}
.menubars{
	position: absolute;
	display: none;
	cursor: pointer;
}

.memo:hover .menubars {
	display: block;
}

.bi-pin, .bi-pin-fill {
	right: 10px;
}

.bi-palette {
	bottom:	10px;
	right: 35px;
}

.bi-image {
	bottom:	10px;
	right: 10px;
}