@charset "UTF-8";


.memo {
	position: relative;
	width: 200px;
	min-height: 200px;
	border: none;
	border-radius: 8px;
	margin: 12px;
	cursor: move;
	background: #FFF2CC;
	display: inline-block;
	margin: 10px;
	padding: 10px;
}

.draggable.dragging {
	opacity: 0.5;
}

.text {
	padding: 5px;
	margin: 10px;
}
.menubars{
	position: absolute;
	display: none;
	cursor: pointer;
}

.memo:hover .menubars {
	display: block;
}

.bi-pin {
	right: 10px;
}

.bi-palette {
	bottom:	10px;
	right: 35px;
}

.bi-image {
	bottom:	10px;
	right: 10px;
}

/* input[type=file] {
  outline: 0;
  opacity: 0;
  width: 14px;
  height: 14px;
  position: relative;
  top: 4px;
  left: 165px;
} */
.real_file {
	display: none;
}

.shop__sidebar__color {
	padding-top: 15px;
}

.shop__sidebar__color label {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	position: relative;
	margin-right: 5px;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
}

.shop__sidebar__color label.ca1 {
	background: #F4CCCC;
}

.shop__sidebar__color label.ca2 {
	background: #FFF2CC;
}

.shop__sidebar__color label.ca3 {
	background: #D9EAD3;
}

.shop__sidebar__color label.ca4 {
	background: #D0E0E3;
}

.shop__sidebar__color label.ca5 {
	background: #D9D2E9;
}

.shop__sidebar__color label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 24px;
	width: 24px;
	border: 1px solid #e5e5e5;
	content: "";
	border-radius: 50%;
}

.shop__sidebar__color label input {
	position: absolute;
	visibility: hidden;
}

.shop__sidebar__color{
	position: absolute;
	bottom: -5px;
	display: none;
	cursor: pointer;
}

