@charset "UTF-8";



.memo {
	position: relative;
	width: 200px;
	min-height: 100px;
	border: none;
	border-radius: 8px;
	margin: 12px;
	cursor: move;
	background: #FFF2CC;
	display: inline-block;
	margin: 10px;
	padding: 10px;
}

.draggable.dragging {
	opacity: 0.5;
}

.text {
	padding: 10px;
	margin-top: 10px;
}
.menubars{
	position: absolute;
	display: none;
}

.memo:hover .menubars {
	display: block;
}