@charset "UTF-8";

.display_flex {
	display: flex;
	align-items: center;
	gap: 20px;
}
.tm-block canvas {
	margin-top: 50px;
}
.tm-block-title::before {
	content: '';
    background: #525e81;
    color: #525e81;
    display: inline-block;
    width: 3px;
    height: 18px;
    margin-top: 5px;
    margin-right: 10px;
}
.title_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
	margin-left: 30px;
	margin-right: 25px;
}
.title_wrap h2 {
	margin: 0;
}
.tm-block {
	padding: 0 !important;
}
.tm-block-title {
	position: relative;
}
.min_text {
	position: relative;
}
.min_text span {
	font-size: 13px;
	color: #cecece;
	display: flex;
	width: 160px;
}
.min_text svg {
	margin-top: 3px;
	margin-right: 5px;
}
.min_text:hover .avg_area {
	display: block;
}
.move_accbook {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #cecece;
}
.more_btn, .coin_icon {
	width: 20px;
}
.coin_icon {
	margin-right: 5px;
}
.avg_area {
	display: none;
	position: absolute;
  	border-collapse: collapse;
  	background: #fff;
  	top: 30px;
  	left: 0;
  	font-size: 12px;
  	z-index: 99;
  	margin-left: 20px;
  	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.avg_area th, .avg_area td {
	border: 1px solid #e6e6e6;
}
.avg_area th, .avg_area td {
	padding: 5px 8px;
	font-size: 12px;
}
.avg_area td {
	text-align: right;
}
.chart_wrap {
	position: relative;
}
.chart_wrap select {
	position: absolute;
	top: -10px;
	right: 3%;
	padding: 5px 10px;
	border: 1px solid #cecece;
	border-radius: 5px;
	color: #676767;
}
.form-control:focus {
	border: none !important;
	box-shadow: none !important;
}
textarea {
	margin-bottom: 0 !important;
}
#my_profile {
	display: flex;
}
#memberIntroWrap .hl_textarea {
	max-width: 300px;
}
#imageWrap div.dp_flex {
	margin: 0;
	justify-content: flex-start;
	gap: 10px;
	padding: 20px 0;
}
#imageWrap {
	width: 60%;
}
#holopayWrap {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	width: 35%;
	background-color: #f9f9f9;
	border-radius: 10px;
	padding: 20px;
}
#my_profile {
	justify-content: space-between;
	padding-right: 25px;
}
#holopayWrap > div > span {
	font-size: 17px;
	font-weight: 700;
}
.balance_warp {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.balance_warp p{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.balance_warp .title {
	display: inline-block;
	padding: 3px 4px;
	width: 75px;
	box-sizing: border-box;
	background: #040e1c;
	text-align: center;
	border-radius: 5px;
	margin-right: 10px;
	color: #fff;
	font-size: 14px;
}
.text-right {
	width: 5vw;
	min-width: 80px;
	text-align: right;
	display: inline-block;
}