@charset "UTF-8";

#wrapper {
	margin: 50px auto;
}
.my_flex {
	display: flex;
	gap: 10px;
}
.dp_none {
	display: none;
}
.btn_wrap {
	display: flex;
	
}
.btn_disabled {
	background: #e3e3e3 !important;
	cursor: default;
}
.input_wrap {
	
}

button {
	cursor: pointer;
}

/* 프로필, 닉네임, 소개 영역 start */
.input_file {
	display: none;
}
.myinfo_btn {
	border: none;
	background: #09203f;
	padding: 3px 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 13px;
}
.upload {
	width: 150px;
	height: 150px;
	border: 1px solid #B3B3B3;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}
.dp_flex {
	display: flex;
	gap: 35px;
}
#memberProfile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	gap: 5px;
}

#my_profile {
	border-bottom: 1px solid #e6e6e6;
}
#memberIntro {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: end;
}
#memberIntro .hl_input,
#memberIntro .hl_textarea {
	outline: none;
	border: none;
	background-color: transparent;
	padding: 8px 15px;
}
#memberIntro #nickName {
	font-size: 20px;
	font-weight: 700;
	width: 100px;
}
#memberIntro #memberId {
	font-size: 15px;
	font-weight: 700;
}
#memberIntro .hl_textarea {
	width: 40vw;
    max-width: 760px;
	height: 100%;
	resize: none;
	font-size: 14px;
	color: #353537;
}
#infoForm {
	margin: 20px 0;
}
/* 프로필, 닉네임, 소개 영역 end */


/* 개인정보 폼 start */
#infoForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
}


/* 개인정보 폼 end */
.flex-col {
	display: flex;
	flex-direction: column;
}
.hl_label {
	display: flex;
	margin-bottom: 10px;
	align-items: center;
}
.hl_label .hl_title {
	display: inline-block;
	width: 125px;
	font-size: 15px;
	font-weight: 700;
}

#infoForm input {
	padding: 6px 13px;
	font-size: 14px;
	font-family: inherit;
	box-shadow: 0 0 0 1px #f8bfbf;
	border: none;
	border-radius: 5px;
	background-color: #fff5f5;
	transition: all .3s;
	width: 22vw;
}

#infoForm input::placeholder {
  color: #ce9797;
  font-size: 14px;
}

#infoForm input:focus {
  outline: none;
  box-shadow: 0 0 10px 1px #ee8c8c;
  border: none;
  transition: all .3s;
}
.addr_input_wrap {
	gap: 10px;
}
.form_btn {
	border: none;
	background: #09203f;
	padding: 8px 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 13px;
}







