@charset "UTF-8";

#wrapper {
	margin: 50px auto;
}

.input_file {
	display: none;
}

.upload {
	width: 120px;
	height: 120px;
	border: 1px solid #B3B3B3;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}

.image-preview {
	padding: 0;
	margin: 0;
}

.image-preview li {
	list-style: none;
}

.dp_flex {
	display: flex;
}

.position_rela {
	position: relative;
}

.position_absol {
	position: absolute;
}
