@charset "UTF-8";

/* 중고거래 리스트 페이지 시작 */

.search {
	width: 800px;
	position: realative;
}

.searchwrap {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 15px;
}

#searchTitle, #searchCategory{
	position: relative;
    width: 173px;
    height: 40px;
    line-height: 39px;
    cursor: pointer;
    border: solid 1px #b5b5b5;
    padding-left: 15px;
    padding-right: 17px;
    font-size: 14px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 10px;
    border-radius: 4px;
}

option {
 		color: #7c7c7c;
}

option > selected{
	background: #f9f5f5;
}   

.sellcheck{
	position: relative;
	border: solid 1px #b5b5b5;
  	 	padding: 9.1px 20px;
  	 	margin-left: 15px;
  	 	border-radius: 4px;
}

.sellcheck input {
	position: relative;
    margin-left: 15px;
    top: 1px;
}

.tradeSize {
    width: 295px;
    height: 335px !important;
   }
   
.insertbutton
{
	width: 125px;	/* 142 */
	height: 40px;	/* 46 */
	background-color: #09203f;
	text-align: center;
	/* left: 88%; */
	position: realative;
	top: 2px;
	border-radius: 4px;
	float: right;
	cursor: pointer;
}

.insertbutton p, .placeSelectButton p
{
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.2em;
	line-height: 40px; /* 46 */
}

.insertbutton:hover
{
	background-color: #e0e3e4;
}

.insertbutton:hover p
{
	color: #232323;
}

.badge{
	top: 0.5rem;
    right: 4.5rem;
    color: white;
    background: #09203f;
    font-size: 13px;
    padding: 6px;	
    width: 60px;
}

#pagination {
    justify-content: center;
}

.card {
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.text-muted{
	font-size: larger;
}

.col{
	adding-right: none;
    padding-left: 50px;
    margin: 10px;
}

/* 중고거래 상세페이지 시작 */
.carousel-control-prev, .carousel-control-next {
    border: none;
    background: transparent;
}

.carousel{
	width: 550px;
}

.centerwrap{
	justify-content: center;
}

.watchwrap{
    justify-content: space-between;
    margin-left: 5px;
}

.tradeTitle{
	font-size: 35px;
    font-weight: bolder;
}

.report{
	text-decoration-line: underline;
}

.silverColor{
	color: #bbbbbb;
}

.tradeType{
	margin: 7px 13px;
	width: 80px;
    height: 35px;
    background-color: #09203f;
    text-align: center;
    top: 5px;
    border-radius: 4px;
}

.tradeType p{
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.2em;
    line-height: 35px;
}

.tradePrice p{
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

.bottomwrap{
	margin-top: 130px;
}

.pay{
    top: 5px;
    margin: 7px;
}

.bottomdown10{
	margin-bottom: 10px;
}

.tradeCategory{
	color: black;
    font-size: 20px;
}

.rounded-circle{
	width: 70px;
    height: 70px;
    margin-right: 20px;
}

.margins{
	margin: 30px;
}

.bottomdown30{
	margin-bottom: 30px;
}

.openKakao{
	height: 50px;
}

.nickName{
	line-height: 3.5;
    font-weight: bolder;
}

.holoPay{
	width: 23px;
    margin-bottom: 4px;
}

._heart{
	position: absolute;
    bottom: 90%;
    right: 94%;
    width: 25px;
}

.fw-bolder{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 중고거래 등록페이지 시작 */
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control{
    margin-left: calc(1px * -1);
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
    color: #000000;
}

.star{
	color: red;
	padding-left: 5px;
}

.priceUnit{
	position: absolute;
    top: 37px;
    right: 27px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    padding-right: 35px;
    text-align: right;

}

.writeInput{
	margin-bottom: 25px;
}

.btn-primary {
    color: #fff;
    background-color: #09203f;
    border-color: #09203f;
}

.buttonFrom{
    left: 88%;
}

.placeSelectButton{
	width: 125px;
    height: 40px;
    background-color: rgb(201 204 205);
    text-align: center;
    position: realative;
    top: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.form-label{
	font-weight: bolder;
}

.tradeImgPlus{
	width: 90px;
    border: 3px dashed black;
    padding: 20px;
    border-radius: 8px;
    filter: opacity(0.2) drop-shadow(0 0 0 black);
}

.btn-primary:not([disabled]):not(.disabled):active{
	background-color: #868e96;
    border-color: #868e96;
    box-shadow: none;
}

.btn-primary:hover{
	background-color: #09203f;
    border-color: #09203f;
}

.tradePlaceSelect{
    position: absolute;
    left: 50%;
    top: 47%;
    width: 340px;
}

.noneMap{
	position: absolute;
    top: 72%;
    left: 2%;
    width: 1200px;
    height: 119px;
}

.imgFlex, .file-list{
	display: flex;
    gap: 10px;	
}

.imgSize{
	width: 90px;
    object-fit: cover;
    height: 90px;
    border-radius: 7px;
}

li{
	list-style: none;	
}

.delBtn{
	width: 19px;
    margin: 3px;
    border-radius: 50%;
    margin-left: 68px;
    background-color: white;
    }

.d-block{
    height: 326px;
    object-fit: cover;
}

/* 첨부파일 관련 */
.real_file {
	display: none; 
}