@charset "UTF-8";


.search {
	width: 800px;
	position: realative;
}

.searchwrap {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 15px;
}

#searchTitle, #searchCategory{
	position: relative;
    width: 173px;
    height: 40px;
    line-height: 39px;
    cursor: pointer;
    border: solid 1px #b5b5b5;
    padding-left: 15px;
    padding-right: 17px;
    font-size: 14px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 10px;
    border-radius: 4px;
}

#searchTitle option, #searchCategory option {
 		color: #7c7c7c;
}

.sellcheck{
	position: relative;
	border: solid 1px #b5b5b5;
  	 	padding: 9.1px 20px;
  	 	margin-left: 15px;
  	 	border-radius: 4px;
}

.sellcheck input {
	position: relative;
    margin-left: 15px;
    top: 1px;
}

.tradeSize {
    width: 295px;
    height: 335px !important;
   }
   
.insertbutton
{
	width: 125px;	/* 142 */
	height: 40px;	/* 46 */
	background-color: #09203f;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	/* left: 88%; */
	position: realative;
	top: 2px;
	border-radius: 4px;
	float: right;
	cursor: pointer;
}

.insertbutton p
{
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.2em;
	line-height: 40px; /* 46 */
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.insertbutton:hover
{
	background-color: #e0e3e4;
}

.insertbutton:hover p
{
	color: #232323;
}

.badge{
	top: 0.5rem;
    right: 4.5rem;
    color: white;
    background: #09203f;
    font-size: 13px;
    padding: 6px;	
    width: 60px;
}

#pagination {
    justify-content: center;
}

.card {
	cursor: pointer;
}