@charset "UTF-8";

/* 중고거래 리스트 페이지 시작 */

body{
	/* overflow-x: hidden; */
}
.products {
	background: #f8f9fa;
}
#contents {
	margin: 0 15px;
}
.row {
	margin: 0;
}
.col {
	padding: 0;
	margin: 0;
}

.search {
	width: 480px;
	position: realative;
}

.searchwrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 15px;
	margin-bottom: 80px;
	padding: 20px;
	border-radius: 8px;
	background: #ebeef1;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.searchwrap form div {
	display: flex;
	align-items: center;
	gap: 5px;
}

#search_input {
	height: 40px;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	margin-top: -4px;
	padding-left: 10px;
	background: #fff;
}
.search_button {
	top: 36%;
}
#searchTitle, #searchCategory{
	position: relative;
    width: 125px;
    height: 40px;
    cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
    border: solid 1px #e6e6e6;
    padding-left: 15px;
    padding-right: 17px;
    font-size: 14px;
    font-weight: 400;
    color: #232323;
    margin: 0 !important;
    border-radius: 4px;
    background-color: #fff;
    
    -o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

option {
 		color: #7c7c7c;
}

option > selected{
	background: #f9f5f5;
}   

.sellcheck{
	display: flex;
	align-items: center;
	position: relative;
	border: solid 1px #e6e6e6;
	padding: 5px 20px;
	border-radius: 4px;
	height: 40px;
	background: #fff;
}
label {
	margin: 0;
}

.sellcheck input {
	position: relative;
    margin-left: 15px;
    top: 1px;
}

.tradeSize {
    width: 267px;
    height: 355px !important;
   }
   
button, #description, .writeInput select{
   cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
}
   
.insertbutton
{
	/* width: 105px; */	/* 142 */
	height: 40px;	/* 46 */
	background-color: #09203f;
	text-align: center;
	/* left: 88%; */
	position: realative;
	top: 2px;
	border-radius: 5px;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}
.insertbutton p {
	margin: 0;
	height: 100%;
	line-height: 40px;
	color: #fff;
}

.redButton{
	/* width: 125px; */	/* 142 */
	height: 40px;	/* 46 */
	background-color: red;
	text-align: center;
	position: realative;
	top: 2px;
	border-radius: 4px;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
}

.insertbutton {
	margin-top: -4px;
}
.insertbutton, .placeSelectButton p, .redButton p
{
	display: block;
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 40px; /* 46 */
	cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
}

input{
	cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
}

.page-link{
	cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
}

/* 버튼 */
.insertbutton, .placeSelectButton {
	background: #09203f;
}
.insertbutton:hover, .placeSelectButton:hover {
	background: #1367a3;
}
.redButton {
	background: #ee0017;
}
.redButton:hover {
	background: #ee0017;
}

.insertbutton, .placeSelectButton, .redButton {
	transition: all .25s ease-in;
}
.insertbutton:hover, .placeSelectButton:hover, .redButton:hover
{
	transition: all .25s ease-in;
}

.badge{
	top: 0.5rem;
    right: 4.5rem;
    font-size: 13px;
    padding: 6px;	
    width: 60px;
    z-index: 99;
}
.trade-type {
    background-color: #f0eef8;
    color: #5f4c9e;
}
.promise-status {
	background-color: #ffe1e1;
    color: #961f1f;
}
.payment-type {
	background-color: #dbe8ff;
    color: #375791;
}

#pagination {
    justify-content: center;
    margin-top: 40px;
}

.card {
	cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
	box-shadow: 0 4px 16px 0 rgba(0,0,0,.04);
    transition: box-shadow .25s ease-in,transform .25s ease-in;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px 0 rgba(0,0,0,.08);
}

.text-muted{
	font-size: larger;
	max-width: 87px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.col{
	adding-right: none;
}
#tradeList {
	gap: 30px;
	justify-content: flex-start;
}
#tradeList .col {
    flex-grow: 0;
}

/* 중고거래 상세페이지 시작 */
.carousel-control-prev, .carousel-control-next {
    border: none;
    background: transparent;
}

.carousel{
	width: 430px;
}

.centerwrap{
	justify-content: space-between;
	padding: 0 5px;
	margin: 20px 0 40px 0;
}
.centerwrap .col-lg-6 {
	padding-right: 0;
}

.watchwrap{
    justify-content: space-between;
    margin-left: 5px;
    align-items: center;
}
.bottomwrap.watchwrap {
	margin-bottom: 10px;
}

.tradeTitle{
	font-size: 28px;
	margin-bottom: 3px;
    font-weight: bolder;
}

.report{
	text-decoration-line: underline;
}

.silverColor{
	color: #bbbbbb;
}

.tradeType{
	/* margin: 7px 13px; */
    height: 35px;
    text-align: center;
    top: 5px;
    border-radius: 5px;
    background-color: #ffe1e1;
    padding: 0 10px;
}

.tradeType p{
    font-size: 14px;
    color: #961f1f !important;
    line-height: 35px;
    font-weight: 700;
    margin: 0;
}

.tradePrice p{
    font-size: 25px;
    color: black;
    font-weight: bolder;
    margin: 0;
}

.bottomwrap{
	/* margin-top: 45px; */
}

.pay{
    top: 5px;
    /* margin: 7px; */
}

.bottomdown10{
	margin-bottom: 10px;
}

.tradeCategory.trade-info {
	color: #232323;
    font-size: 13px;
}
.tradeCategory.trade-info span {
	padding: 5px 10px;
	border-radius: 15px;
	background: #e8ecf2;
	color: #103d61;
}
.tradeCategory.trade-place {
	margin-top: 20px;
}
.tradeCategory.trade-place span {
	font-size: 16px;
	font-weight: 700;
	color: #6d6d6d;
}

.rounded-circle{
	width: 70px;
    height: 70px;
    margin-right: 20px;
    object-fit: cover;
    cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
}

.margins{
	margin: 30px;
	margin-top: 0;
	align-items: center;
}

.bottomdown30{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.openKakao{
	height: 50px;
}

.nickName{
	line-height: 3.5;
    font-weight: bolder;
    font-size: 18px;
}

.holoPay{
	width: 23px;
    margin-bottom: 4px;
}

._heart{
	position: absolute;
    top: 5%;
    left: 3%;
    width: 25px;
    cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
}

#map{
	cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto; 
}

.fw-bolder{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 18px;
	padding-top: 5px;
}
.price {
	font-size: 16px;
	font-weight: 700;
}
.place {
	max-width: 145px;
}

.card-img-top{
	object-fit: cover;
}

.swal2-title{
	font-size: 27px;
}

/* 중고거래 등록페이지 시작 */
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control{
    margin-left: calc(1px * -1);
}

.form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: var(--bs-form-select-bg-img),var(--bs-form-select-bg-icon,none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
    color: #000000;
}

.star{
	color: red;
	padding-left: 5px;
}

.priceUnit{
	position: absolute;
    top: 39px;
    right: 32px;
}

.pointUnit{
	position: absolute;
    top: 6px;
    right: 138px;
    z-index: 1000;
    font-size: 18px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"], .pointSel{
    padding-right: 35px;
    text-align: right;

}

.writeInput{
	margin-bottom: 25px;
}

.btn-primary {
    color: #fff;
    background-color: #09203f;
    border-color: #09203f;
}

.buttonFrom{
    /* left: 88%; */
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    gap: 10px;
}

.placeSelectButton{
	width: 125px;
    height: 40px;
    background-color: rgb(201 204 205);
    text-align: center;
    position: realative;
    top: 2px;
    border-radius: 4px;
    cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
}

.form-label{
	font-weight: bolder;
	margin-bottom: 10px;
}

.tradeImgPlus{
	width: 90px;
    border: 3px dashed black;
    padding: 20px;
    border-radius: 8px;
    filter: opacity(0.2) drop-shadow(0 0 0 black);
    cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
}

.btn-primary:not([disabled]):not(.disabled):active{
	background-color: #868e96;
    border-color: #868e96;
    box-shadow: none;
}

.btn-primary:hover{
	background-color: #09203f;
    border-color: #09203f;
}

.tradePlaceSelect{
    /* position: absolute;
    left: 50%;
    top: 47%; */
    width: 400px;
}


.imgFlex, .file-list{
	display: flex;
    gap: 10px;	
}

.imgSize{
	width: 90px;
    object-fit: cover;
    height: 90px;
    border-radius: 7px;
}

li{
	list-style: none;	
}

.delBtn{
	width: 19px;
    margin: 3px;
    border-radius: 50%;
    margin-left: 68px;
    background-color: white;
    cursor: url(https://cur.cursors-4u.net/holidays/hol-4/hol362.ani), url(https://cur.cursors-4u.net/holidays/hol-4/hol362.png), auto;
    }

.d-block{
    height: 326px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #f6f6f6;
}

/* 첨부파일 관련 */
.real_file {
	display: none; 
}


._card {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  margin: 0 auto;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

._card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #09203f;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #09203f;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #cccccc;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #cccccc;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(180deg);
}

.card-front span, .card-back span{
	text-align: center;
}

.classHidden{
	display : none;
}

.holoPaywrap{
    margin: 0 auto;
    border-radius: 7px;
    border: 1px solid #bbbbbb;
    width: 70%;
    padding: 30px;
    background: #fff;
}

.payImg{
	width: 30px;
    margin-right: 8px;
}

.payInsert{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -2px;
    border-bottom-right-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.fontStyle{
	font-size: 22px;
    margin: 15px 15px 0px;
}

.fontStyle2{
	font-size: 22px;
    margin: 0px 15px 25px;
}

#basic-addon2{
	padding-left: 38px;
}

.borderRadi{
	border-top-left-radius: 0.375rem !important;
    border-bottom-left-radius: 0.375rem !important;
}

.lineStyle{
	position: absolute;
    right: 97%;
    top: 28%;
    width: 66px;
}

.contentEnd{
	justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin: 40px 10px;
}

.product_content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.promise {
	display: flex;
	gap: 10px;
}
.description {
	font-size: 16px;
	min-height: 200px;
	display: inline-block;
}
.tradeInfoContainer {
	max-width: 1000px;
	z-index: 2;
	padding: 50px; 
	border-radius: 10px; 
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.placeSelect .d-flex {
	gap: 10px;
}