<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/user/css/chatList.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
</head>

<body>
    <div layout:fragment="content">
        <div class="alert alert-primary alert-dismissible fade show" role="alert" style="width: 60%; margin: 0 auto;">
            <div>
                우리 &#11088;<strong>holoyolo</strong>&#11088;는 <strong>깨끗한 거래</strong>를 지향합니다.
            </div>
        </div>
        <th:block th:if="${result.list.size == 0}">
            <h3 style="text-align: center; margin: 20px;">중고거래 채팅 내역이 없습니다.</h3>
        </th:block>
        <th:block th:if="${result.list.size > 0}">
            <div class="chatBox" th:each="chatting : ${result.list}" style="display: flex;">
                <div class="img-div">
                    <th:block th:if="${chatting.you.profileImg == null or chatting.you.nickname == null}">
                        <img src="/user/images/trade/user.png" alt="..." class="profile">
                    </th:block>
                    <th:block th:if="${chatting.you.profileImg != null}">
                        <img th:src="@{/images/}+${chatting.you.profileImg}" alt="..." class="profile">
                    </th:block>
                </div>
                <div th:id="${chatting.tradeId}" style="flex: 6;"
                    th:onclick="|location.href='@{/member/tradeChat(sellerId=${chatting.sellerId},tradeId=${chatting.tradeId})}'|">
                    <h3>
                        <span th:if="${chatting.you.nickname == null}">
                            알 수 없음
                        </span>
                        <span th:if="${chatting.you.nickname != null}">
                            [[${chatting.you.nickname}]]
                        </span>
                        <span style="font-size: small;"
                            th:text="${#dates.format(chatting.lastChatTime, 'yyyy-MM-dd hh:mm')}"></span>
                        <span class="not" th:if="${chatting.notread > 0}"> [[${chatting.notread}]]</span>
                        <span class="not" th:if="${chatting.notread == 0}" style="display: none;">
                            [[${chatting.notread}]]</span>
                    </h3>
                    <h5 class="lastchat gray">마지막 메시지 : <strong style="color: black;">[[${chatting.lastchat}]]</strong>
                    </h5>
                    <h6 class="gray">거래명 : [[${chatting.title}]]</h6>
                    <th:block th:if="${#authentication.Principal.memberVO.memberId eq chatting.buyerId}">
                        <h6 class="type">구매</h6>
                    </th:block>
                    <th:block th:if="${#authentication.Principal.memberVO.memberId eq chatting.sellerId}">
                        <h6 class="type">판매</h6>
                    </th:block>
                </div>
                <div class="delete">
                    <div th:if="${chatting.promiseStatus == '거래중'}" class="tradeIng">
                        <span>[[${chatting.promiseStatus}]]</span>
                    </div>
                    <div th:if="${chatting.promiseStatus == '거래완료'}" class="tradeEnd">
                        <span>[[${chatting.promiseStatus}]]</span>
                        <button class="chatOutBtn" th:onclick="deleteChat(this.getAttribute('data-chatting-id'),
                                                                this.getAttribute('data-chatting-seller'),
                                                                this.getAttribute('data-chatting-buyer')    
                                                                )"
                            th:data-chatting-id="${chatting.tradeId}"
                            th:data-chatting-seller="${chatting.sellerId}"
                            th:data-chatting-buyer="${chatting.buyerId}">
                            <img src="/user/images/logo/trash-bin.png">
                        </button>
                    </div>
                </div>
            </div>
        </th:block>
        <div class="btn-div">
            <button class="btn btn-primary" th:onclick="|location.href='@{/tradeList}'|">중고거래 하러 가기</button>
        </div>

        <script th:inline="javascript">
            let list = /*[[${result.list}]]*/ null;
            let userId = /*[[${userId}]]*/ null;
        </script>

        <script th:src="@{/user/js/chatList.js}"></script>
    </div>
</body>

</html>