<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8">
<title>holoyolo::회원탈퇴</title>
<link rel="stylesheet" href="/user/css/memberdelete.css">
</head>
<body>
	<th:block layout:fragment="content">
		<h2>회원탈퇴</h2>
		<div id="warningText" class="content_wrapper">
			<p class="title"><b>회원탈퇴 시 유의사항</b></p>
			<ul class="text">
				<li>
					사용하고 계신 아이디 <span sec:authentication="principal.memberVO.memberId"></span>는 탈퇴할 경우 재사용 및 복구가 불가능합니다.
				</li>
				<li>탈퇴한 아이디는 본인과 타인 모두 재사용 및 복구가 불가하오니 신중하게 선택하시기 바랍니다.</li>
				<li>탈퇴 후 회원정보 및 개인형 서비스 이용기록은 모두 삭제됩니다.</li>
				<li>회원정보 및 메모, 가계부, 알뜰모임 등 개인형 서비스 이용기록은 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다.</li>
				<li>탈퇴 후에도 게시판형 서비스에 등록한 게시물은 그대로 남아 있습니다.</li>
				<li>커뮤니티, 알뜰모임 게시판, 문의, 리뷰, 댓글 및 좋아요는 탈퇴 시 자동 삭제되지 않고 그대로 남아 있습니다.</li>
				<li>삭제를 원하시는 항목이 있다면 반드시 탈퇴 전 삭제하시기 바랍니다.</li>
			</ul>
		</div>
		
		<div id="agreeArea" class="content_wrapper">
			<div class="agree_text">
				<input type="checkbox" id="agree1" required="required">
				<span>회원탈퇴 안내 사항을 확인했으며 탈퇴에 동의합니다</span>
				<span>(필수)</span>
			</div>
			<div class="agree_text">
				<input type="checkbox" id="agree2" required="required">
				<span>모든 금권 혜택 자동소멸에 동의합니다</span>
				<span>(필수)</span>
			</div>
		</div>
	
	</th:block>

</body>
</html>