<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>holoyolo::나의알뜰모임</title>
    <style>
        .card {
            height: 450px;
            margin: 10px;
        }

        .profile {
            height: 247px;
            object-fit: cover;
        }

        .club_intro {
            width: 100%;
            height: 90px;
        }

        .imgDiv {
            height: 247px;
            /* border: 1px solid palevioletred; */
        }
        .btn-primary {
        	font-size: 13px;
        	background: #040e1c;
        	border: none;
        }
    </style>
</head>

<body>
    <div layout:fragment="content" class="container">
        <h2 class="h2_title">나의 알뜰모임</h2>
        <div style="display: flex; justify-content: center;">
            <div class="listDiv row" style="justify-content: first baseline; width: 100%;">
                <th:block th:each="club : ${result.clubs}">
                    <div class="card" style="width: 18rem;" th:onclick="goClub(`[[${club.clubId}]]`)">
                        <div class="imgDiv">
                            <img th:src="@{/images/}+${club.clubProfileImg}" class="card-img-top profile" alt="...">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">[[${club.clubName}]]</h4>
                            <div class="club_intro">
                                <p class="card-text">[[${club.clubIntro}]]</p>
                            </div>
                            <th:block th:if="${#authentication.Principal.memberVO.memberId eq club.clubLeader}">
                                <a href="#" class="btn btn-danger">모임장</a>
                            </th:block>
                            <th:block th:if="${#authentication.Principal.memberVO.memberId != club.clubLeader}">
                                <a href="#" class="btn btn-primary">모임원</a>
                            </th:block>
                        </div>
                    </div>
                </th:block>
                <a href="#" id="load">MORE</a>
            </div>
        </div>

        <script th:inline="javascript">
            let clubs = /*[[${result.clubs}]]*/ null;

        </script>
        <script>
            for (let i = 0; i < clubs.length; i++) {
                console.log(clubs[i]);
            }


            function goClub(clubId) {
                console.log(clubId);
                location.href = '/member/club/clubPage?clubId=' + clubId;
            }
            
          //더보기 버튼
			$('.card').hide();
		    $('.card').slice(0, 6).css("display", "block"); 
		    if($('.card').length <= 6){
		    	$('#load').fadeOut(100);
		    }
		    $("#load").click(function(e){
		        e.preventDefault();
		        $(".card:hidden").slice(0, 6).fadeIn(200).css('display', 'block'); // 클릭시 more 갯수 지저정
		        if($(".card:hidden").length == 0){ // 컨텐츠 남아있는지 확인
		            $('#load').fadeOut(100); // 컨텐츠 없을 시 버튼 사라짐
		        }
		    });
        </script>
    </div>
</body>

</html>