<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/user/css/myinfo.css">
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
	<link th:href="@{/user/css/board.css}" rel="stylesheet" type="text/css">
	<style>
		.sorting {
			float: none;
		}
	</style>
</head>

<body>
	<th:block layout:fragment="content">
		
		<div class="row col-12" style="min-height: 200px;">
			<h3 class="col-12">내가 쓴 글</h3>
			<div class="col-6">
				<table id="userList" class="table datatable table-hover">
					<thead>
						<tr>
							<th colspan="5" style="text-align: center;">정보공유</th>
						</tr>
						<tr>
							<th>제목</th>
							<th>작성자</th>
							<th></th>
							<th>작성일</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd" th:if="${infoList.size == 0}">
							<td valign="top" colspan="6" class="dataTables_empty" style="text-align: center;">
								조회 내역 없음
							</td>
						</tr>
						<tr th:each="info, stat : ${infoList}">
							<td th:text="${info.title}" th:class="col-4"
								th:style="'overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'"
								th:onclick="|location.href='@{/member/board/view(boardId=${info.boardId})}'|"></td>
							<td th:text="${info.nickname}" th:class="col-2"></td>
							<td>
								<ul>
									<li th:text="${info.likeCount}" th:class="like-icon"></li>
									<li th:text="${info.views}" th:class="view-icon"></li>
								</ul>
							</td>


							<td th:text="${#dates.format(info.writeDate, 'yyyy-MM-dd')}" th:class="col-3"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-6">
				<table id="userList" class="table datatable table-hover">
					<thead>
						<tr>
							<th colspan="5" style="text-align: center;">수다방</th>
						</tr>
						<tr>
							<th>제목</th>
							<th>작성일</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd" th:if="${chatList.size == 0}">
							<td valign="top" colspan="6" class="dataTables_empty">조회 내역 없음</td>
						</tr>
						<tr th:each="chat, stat : ${chatList}">
							<td th:text="${chat.title}" th:class="col-5"
								th:style="'overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'"
								th:onclick="|location.href='@{/member/board/view(boardId=${chat.boardId})}'|"></td>
							<td th:text="${#dates.format(chat.writeDate, 'yyyy-MM-dd')}" th:class="col-3"></td>
							<td class="col-2">
								<span th:text="${chat.likeCount}" th:class="like-icon"></span>
								<span th:text="${chat.views}" th:class="view-icon"></span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row col-12" style="min-height: 200px;">
			<h3 class="col-12">댓글 단 글</h3>
			<div class="col-6">
				<table id="userList" class="table datatable table-hover">
					<thead>
						<tr>
							<th colspan="5" style="text-align: center;">정보게시판</th>
						</tr>
						<tr>
							<th>제목</th>
							<th>작성자</th>
							<th></th>
							<th>작성일</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd" th:if="${infoReplyList.size == 0}">
							<td valign="top" colspan="6" class="dataTables_empty">조회 내역 없음</td>
						</tr>
						<tr th:each="infoReply, stat : ${infoReplyList}">
							<td th:text="${infoReply.title}" th:class="col-4"
								th:style="'overflow: hidden; text-overflow: ellipsis; white-space: nowrap;'"
								th:onclick="|location.href='@{/member/board/view(boardId=${infoReply.boardId})}'|">
							</td>
							<td th:text="${infoReply.nickname}" th:class="col-1"></td>
							<td class="col-2">
								<span th:text="${infoReply.likeCount}" th:class="like-icon"></span>
								<span th:text="${infoReply.views}" th:class="view-icon"></span>
							</td>
							<td th:text="${#dates.format(infoReply.writeDate, 'yyyy-MM-dd')}" th:class="col-3"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-6">
				<table id="userList" class="table datatable table-hover">
					<thead>
						<tr>
							<th colspan="5" style="text-align: center;">수다방</th>
						</tr>
						<tr>
							<th>제목</th>
							<th></th>
							<th></th>
							<th>작성일</th>
						</tr>
					</thead>
					<tbody>
						<tr class="odd" th:if="${chatReplyList.size == 0}">
							<td valign="top" colspan="6" class="dataTables_empty">조회 내역 없음</td>
						</tr>
						<tr th:each="chatReply, stat : ${chatReplyList}">
							<td th:text="${chatReply.title}" th:class="col-5"
								th:onclick="|location.href='@{/member/board/view(boardId=${chatReply.boardId})}'|">
							</td>
							<td th:class="col-2"></td>
							<td class="col-2">
								<span th:text="${chatReply.likeCount}" th:class="like-icon"></span>
								<span th:text="${chatReply.views}" th:class="view-icon"></span>
							</td>
							<td th:text="${#dates.format(chatReply.writeDate, 'yyyy-MM-dd')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</th:block>
</body>

</html>