<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link th:href="@{/user/css/pay.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div layout:fragment="content">
    <div class="container">
      <!--/* 잔액조회 */-->
      <div class="row">
        <div>
          <th:block th:unless="${amount == 0}">
            <p>현재 잔액: <span th:text="${amount}"></span></p>
            <!--/* 충전/인출 버튼 */-->
            <div class="row">
              <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                  data-whatever="@mdo">충전</button>
                <button type="button" id="takeOutBtn" class="btn btn-pramary">인출</button>
              </div>
            </div>
          </th:block>
          <th:block th:if="${amount == 0}">
            <div class="row">
              <div class="col-6">
                <h3>등록된 계좌가 없습니다</h3>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#amountSetting"
                  data-whatever="계좌등록">
                  계좌등록
                </button>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>

    <!--/* 계좌등록 모달 */-->
    <div class="modal fade" id="amountSetting" tabindex="-1" aria-labelledby="amountSettingLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="amountSettingLabel">계좌등록</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">거래은행</label>
                <select id="amountName">
                  <div class="dropdown-menu">
                    <option value="농협">
                      <div class="dropdown-item">농협</div>
                    </option>
                    <option value="신한">
                      <div class="dropdown-item">신한</div>
                    </option>
                    <option value="대구">
                      <div class="dropdown-item">대구</div>
                    </option>
                  </div>
                </select>
                <div class="form-group">
                  <label for="amountNum" class="col-form-label">계좌번호</label>
                  <input type="number" class="form-control" id="amountNum" style="resize: none;" />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addAmountBtn">등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              </div>
            </form>
          </div>


        </div>
      </div>
    </div>


    <script>



      //계좌 등록 버튼 
      let addAmountBtn = document.getElementById("addAmountBtn");
      addAmountBtn.addEventListener('click', checkAmount);
      function checkAmount() {
        let amountName = document.getElementById('amountName').value;
        let amountNum = document.getElementById('amountNum').value;
        console.log(amountName);
        console.log(amountNum);
        let data = {
          "amountName": amountName,
          "amountNum": amountNum
        };
        // $.ajax({
        //   type: 'Post',
        //   url: '/addFinanceInfo',
        //   contentType: 'application/json;charset=UTF-8',
        //   data: JSON.stringify(data),
        //   success: function (response) {
        //     // Handle the success response from the server
        //     console.log(response);
        //   },
        //   error: function (error) {
        //     // Handle the error response from the server
        //     console.error(error);
        //   }
        // });
      }


      //충전버튼
      let rechargeBtn = document.getElementById('rechargeBtn');

      //반환버튼

      let takeOutBtn = document.getElementById('takeOutBtn');
    </script>

  </div>


</body>

</html>