<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link th:href="@{/user/css/pay.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div layout:fragment="content">
    <div class="container">
      <!--/*홀로페이 잔액조회 */-->
      <div class="row">
        <div>
          <th:block th:unless="${amount == 0}">
            <div class="col-8">
              <h4>등록된 계좌 정보</h4>
              <p>은행 : <span th:text="${financeVO.bankname}" id="myAccountName"></span></p>
              <br>
              <p>계좌번호 : <span th:text="${financeVO.account}" id="myAccountNum"></span> <button type="button"
                  class="btn btn-primary" data-toggle="modal" data-target="#amountSetting" data-whatever="계좌변경">
                  거래 계좌 변경
                </button></p>
              <br>
              <p>홀로페이 잔액 : <span th:text="${payBalance}"></span></p>
            </div>

            <!--/* 충전/인출 버튼 */-->

            <div class="btn-group">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rechargeSet"
                data-whatever="@mdo">충전</button>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#withdrawBtn"
                data-whatever="@mdo">인출</button>
            </div>
          </th:block>


          <th:block th:if="${amount == 0}">
            <div class="row" id="myAccountInfo">
              <div class="col-6">
                <h3>등록된 계좌가 없습니다</h3>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#amountSetting"
                  data-whatever="계좌등록">
                  계좌등록
                </button>
              </div>
            </div>
          </th:block>
        </div>
      </div>
    </div>

    <!--/* 계좌등록 모달 */-->
    <div class="modal fade" id="amountSetting" tabindex="-1" aria-labelledby="amountSettingLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="amountSettingLabel">계좌등록</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">거래은행</label>
                <select id="amountName">
                  <div class="dropdown-menu">
                    <option value="농협">
                      <div class="dropdown-item">농협</div>
                    </option>
                    <option value="신한">
                      <div class="dropdown-item">신한</div>
                    </option>
                    <option value="대구">
                      <div class="dropdown-item">대구</div>
                    </option>
                  </div>
                </select>
                <div class="form-group">
                  <label for="amountNum" class="col-form-label">계좌번호</label>
                  <input type="number" class="form-control" id="amountNum" style="resize: none;" />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addAmountBtn" data-dismiss="modal">등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>





    <!--/* HP1 모달 */-->
    <div class="modal fade" id="rechargeSet" tabindex="-1" aria-labelledby="rechargeSetLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rechargeSetLabel">홀로페이 충전</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>

              <div class="form-group">
                <label for="rechargePrice" class="col-form-label">금액</label>
                <input type="number" class="form-control" id="rechargePrice" style="resize: none;" />
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="callHoloPayRechargeApiBtn"
                  data-dismiss="modal">등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!--/* HP2 모달 */-->
    <div class="modal fade" id="withdrawBtn" tabindex="-1" aria-labelledby="withdrawBtnLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="withdrawBtnLabel">홀로페이 인출</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>반환된 홀로페이는 등록된 계좌로 입금됩니다.</p>
            <form>
              <div class="form-group">
                <label for="withdrawBtnPrice" class="col-form-label">금액</label>
                <input type="number" class="form-control" id="withdrawPrice" style="resize: none;" />
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="callHoloPaywithdrawApi"
                  data-dismiss="modal">등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>



      //계좌 등록 버튼 
      let addAmountBtn = document.getElementById("addAmountBtn");
      addAmountBtn.addEventListener('click', checkAmount);
      function checkAmount() {
        let amountName = document.getElementById('amountName').value;
        let amountNum = document.getElementById('amountNum').value;
        console.log(amountName);
        console.log(amountNum);
        let memberFinanceInfo = {
          "bankname": amountName,
          "account": amountNum
        };

        console.log(memberFinanceInfo);
        $.ajax({
          type: 'POST',
          url: '/addFinanceInfo',
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify(memberFinanceInfo)
        }).done(function (response) {
          console.log(response);
          console.log(response.result);
          $("#myAccountInfo").html(response)
        }).fail(function (request, status, error) {
          // Handle the error response from the server
          console.log("code: " + request.status)
          console.log("message: " + request.responseText)
          console.log("error: " + error);

        })

      }


      //충전버튼
      let rechargeBtn = document.getElementById('callHoloPayRechargeApiBtn');



      rechargeBtn.addEventListener('click', callRechargeApi);
      function callRechargeApi() {
        let rechargePrice = document.getElementById('rechargePrice').value;
        console.log(rechargePrice);
        let callRechargeApiInfo = {
          "Tram": rechargePrice,
          "accountNum": myAccountNum
        };

        console.log(callRechargeApiInfo);
        $.ajax({
          type: 'POST',
          url: '/apireq',
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify(callRechargeApiInfo)
        }).done(function (response) {
          console.log(response);
          console.log(response.result);
        }).fail(function (request, status, error) {
          // Handle the error response from the server
          console.log("code: " + request.status)
          console.log("message: " + request.responseText)
          console.log("error: " + error);

        })

      }
      //반환버튼
      let withdrawBtn = document.getElementById('callHoloPaywithdrawApi');



      withdrawBtn.addEventListener('click', callwithdrawApi);
      function callwithdrawApi() {
        let withdrawPrice = document.getElementById('withdrawPrice').value;
        console.log(withdrawPrice);
        let callwithdrawApiInfo = {
          "Tram": withdrawPrice,
          "accountNum": myAccountNum
        };

        console.log(callwithdrawApiInfo);
        $.ajax({
          type: 'POST',
          url: '/withdrawapireq',
          contentType: 'application/json;charset=UTF-8',
          data: JSON.stringify(callwithdrawApiInfo)
        }).done(function (response) {
          console.log(response);
          console.log(response.result);
        }).fail(function (request, status, error) {
          // Handle the error response from the server
          console.log("code: " + request.status)
          console.log("message: " + request.responseText)
          console.log("error: " + error);

        })

      }

      let resultMsg = `${resultMsg}`
      if (resultMsg != 0) alert(resultMsg);
    </script>

  </div>


</body>

</html>