<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link th:href="@{/user/css/pay.css}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</head>

<body>
  <div layout:fragment="content">
    <div class="container">
      <!--/*홀로페이 잔액조회 */-->

      <div class="row" th:if="${financeVO.bankname != null}">
        <div class="col-3">
          <h4>등록된 계좌 정보</h4>
          <p> 은행 : <span th:text="${financeVO.bankname}" id="myAccountName"></span></p>
          <p>계좌번호 : <span th:text="${financeVO.account}" id="myAccountNum"></span></p>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#amountSetting"
            data-whatever="계좌변경">거래계좌변경</button>
        </div>
        <div class="col-3">
          <h4>HOLOPAY</h4>
          <p>홀로페이 잔액 : <span th:text="${payBalance}"></span></p>
        </div>
        <div class="col-3">
          <div class="btn-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rechargeSet">충전</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#withdrawBtn">인출</button>
          </div>
        </div>
      </div>



      <div class="row" th:if="${financeVO.bankname == null}">
        <div class="col-6">
          <h3>등록된 계좌가 없습니다</h3>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#amountSetting"
            data-whatever="계좌등록">
            계좌등록
          </button>
        </div>
      </div>

    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <table class="table" id="hpHistoryTable">
          <select id="searchHpHistory">
            <option value="all">전체</option>
            <option value="1M">1개월</option>
            <option value="3M">3개월</option>
            <option value="6M">6개월</option>
          </select>
          <thead class="thead">
            <tr>
              <th>순번</th>
              <th>유형</th>
              <th>금액</th>
              <th>내용</th>
              <th>날짜</th>
            </tr>
          </thead>
          <tbody id="hpHistoryTableBody">
            <th:block th:unless="${holopayList} == '0'">
              <tr th:each="holopayList : ${holopayList}">
                <td th:text="${holopayList.hpHistoryId}"></td>
                <td th:switch="${holopayList.hpType}">
                  <span th:case="HP1" class="center-block label label-info">충전</span>
                  <span th:case="HP2" class="center-block label label-primary">인출</span>
                  <span th:case="HP3" class="center-block label label-primary">판매</span>
                  <span th:case="HP4" class="center-block label label-primary">입금</span>
                </td>
                <td th:text="${holopayList.price}"></td>
                <td th:text="${holopayList.holopayComment}"></td>
                <td th:text="${#dates.format(holopayList.hpDate, 'yy/MM/dd')}"></td>
              </tr>
            </th:block>
            <th:block th:if="${holopayList} == '0'">
              <tr>
                <td></td>
                <td></td>
                <td align="center-block">
                  <h3 style="text-align: center;">거래내역 없음</h3>
                </td>
                <td></td>
                <td></td>
              </tr>
            </th:block>
          </tbody>
        </table>
        <div id="pagination-container">
          <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled"><a class="page-link">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>


    <!--/* 계좌등록 모달 */-->
    <div class="modal fade" id="amountSetting" tabindex="-1" aria-labelledby="amountSettingLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="amountSettingLabel">계좌등록</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">거래은행</label>
                <select id="amountName">
                  <div class="dropdown-menu">
                    <option value="농협">
                      <div class="dropdown-item">농협</div>
                    </option>
                    <option value="신한">
                      <div class="dropdown-item">신한</div>
                    </option>
                    <option value="대구">
                      <div class="dropdown-item">대구</div>
                    </option>
                  </div>
                </select>
                <div class="form-group">
                  <label for="amountNum" class="col-form-label">계좌번호</label>
                  <input type="number" class="form-control" id="amountNum" style="resize: none;" required />
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addAmountBtn" data-dismiss="modal">등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>



    <!--/* HP1 모달 */-->
    <div class="modal fade" id="rechargeSet" tabindex="-1" aria-labelledby="rechargeSetLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rechargeSetLabel">홀로페이 충전</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>

              <div class="form-group">
                <label for="rechargePrice" class="col-form-label">금액</label>
                <input type="number" class="form-control" id="rechargePrice" style="resize: none;" />
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="callHoloPayRechargeApiBtn"
                  data-dismiss="modal">등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <!--/* HP2 모달 */-->
    <div class="modal fade" id="withdrawBtn" tabindex="-1" aria-labelledby="withdrawBtnLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="withdrawBtnLabel">홀로페이 인출</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>반환된 홀로페이는 등록된 계좌로 입금됩니다.</p>
            <form>
              <div class="form-group">
                <label for="withdrawBtnPrice" class="col-form-label">금액</label>
                <input type="number" class="form-control" id="withdrawPrice" style="resize: none;" />
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="callHoloPaywithdrawApi"
                  data-dismiss="modal">등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/user/js/holopay.js}"></script>

  </div>


</body>

</html>