<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>holoyolo::마이페이지 홈</title>
<link rel="stylesheet" href="/user/css/tooplate.css">
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row tm-content-row tm-mt-big">
			<div class="tm-col tm-col-big">
				<div class="bg-white tm-block h-100">
					<h2 class="tm-block-title">최근 1년 소비액</h2>
					<select id="paymentType" name="paymentType">
						<option value="GA1">현금</option>
						<option value="GA2">이체</option>
						<option value="GA3">카드</option>
					</select>
					<canvas id="lineChart"></canvas>
				</div>
			</div>
		</div>
		<script src="/user/js/utils.js"></script>
		<script src="/user/js/Chart.min.js"></script>
		<script src="/user/js/tooplate-scripts.js"></script>
		<script th:inline="javascript">
			let ctxLine, ctxBar, ctxPie, optionsLine, optionsBar, optionsPie, configLine, configBar, configPie, lineChart, barChart, pieChart;

			// DOM is ready
			$(function() {
				let chartData = [[${chartData}]];
				console.log(chartData);
				
				// 날짜데이터
				let date = [];
				let inputData = [];
				let outputData = [];
				
				// 처음 화면로드될때는 현금데이터로 차트 그려주기
				for(let i=0; i<chartData.length; i++){
					date[i] = chartData[i].payDateMonth;
					inputData[i] = chartData[i].inputSum;
					outputData[i] = chartData[i].outputSum;
				}
				
				updateChartOptions();
				drawLineChart(date, inputData, outputData); // Line Chart
				
				//drawBarChart(); // Bar Chart
				//drawPieChart(); // Pie Chart
				
				
				// 셀렉트 박스 변경시
				$('#paymentType').change((e) => {
					let paymentType = $('#paymentType option:selected').val();
					
					$.ajax('/member/myHome/chartData', {
						type: 'post',
						data: {paymentType}
					})
					.done((result) => {
						if(paymentType == 'GA1') {	//현금
							// 배열에 데이터 담아주기
							for(let i=0; i<result.length; i++){
								date[i] = result[i].payDateMonth;
								inputData[i] = result[i].inputSum;
								outputData[i] = result[i].outputSum;
							}
							
						} else if(paymentType == 'GA2') {	//이체
							// 배열에 데이터 담아주기
							for(let i=0; i<result.length; i++){
								date[i] = result[i].payDateMonth;
								inputData[i] = result[i].inputSum;
								outputData[i] = result[i].outputSum;
							}
							
						} else if(paymentType == 'GA3') {	//카드
							// 배열에 데이터 담아주기
							for(let i=0; i<result.length; i++){
								date[i] = result[i].payDateMonth;
								inputData[i] = result[i].inputSum;
								outputData[i] = result[i].outputSum;
							}
						}
						
						// 차트 그리기..
						updateChartOptions();
						drawLineChart(date, inputData, outputData);
					})
					.fail(err => console.log(err))
					
				})
				

				$(window).resize(function() {
					updateChartOptions();
					updateLineChart();
					updateBarChart();
					reloadPage();
				});
			})
			
			
		</script>

	</th:block>
</body>
</html>