<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8">
<title>holoyolo::나의정보</title>
<link rel="stylesheet" href="/user/css/myinfo.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
	<div layout:fragment="content">
		<!--/* 프로필, 닉네임, 소개 영역 start */-->
		<div id="my_profile">
			<div id="imageWrap">
				<input class="input_file real_upload" type="file" name="uploadFiles" accept="image/*" />
				<div class="dp_flex">
					<div id="memberProfile">
						<div class="upload profile" data-toggle="tooltip" data-placement="top" title="Click! 프로필 사진 변경"
							 th:style="'background-image:url(\'/images/'+ ${memberInfo.profileImg} +'\');'">
						</div>
					</div>
					<div id="memberIntro">
						<div class="input_wrap">
							<span class="input input_wrap">
								<span class="flex">
									<input type="text" id="nickName" name="nickName" class="hl_input" th:value="${memberInfo.nickname}" readonly>
									<button type="button" id="nickUpdate" class="myinfo_btn">닉네임 변경</button>
								</span>
							</span>
						</div>
						<div class="input_wrap">
							<span class="input input_wrap">
								<span class="flex">
									<span class="hl_input" id="memberId" th:text="${memberInfo.memberId}"></span>
								</span>
							</span>
						</div>
						<div class="input_wrap">
							<span class="input input_wrap">
								<textarea class="hl_textarea form-control" id="memberIntro" name="memberIntro" rows="3" cols="100" spellcheck="false"
										  th:value="${#strings.replace(memberInfo.memberIntro, nlString, '&lt;br /&gt;')}" 
										  th:utext="${#strings.replace(memberInfo.memberIntro, nlString, '&lt;br /&gt;')}"></textarea>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/* 프로필, 닉네임, 소개 영역 end */-->
		
		<!--/* 개인정보 폼 start */-->
		<form id="infoForm" action="/join" method="post"  class="flex-col">
			<div class="hl_label">
				<span class="attr_name hl_title">이름</span> 
				<input type="text" id="memberName" name="memberName" class="input" th:value="${memberInfo.memberName}">
			</div>
			<div class="hl_label">
				<span class="attr_name hl_title">휴대폰번호</span>
				<span class="input input_wrap">
					<span class="flex">
						<input type="tel" id="phone" name="phone" placeholder="숫자만 입력하세요" class="input">
						<button type="button" class="btn" id="userCheck">본인인증</button>
					</span>
				</span>
			</div>
			<div class="hl_label addr_wrap">
				<span class="attr_name hl_title">주소</span>
				<span class="flex-col input addr_input_wrap">
					<span class="flex">
						<input type="text" id="addr1" name="addr" class="input" th:value="${memberInfo.addr}">
						<button type="button" class="btn" id="addrSearch">주소검색</button>
					</span>
					<input type="text" id="detailAddr" name="detailAddr" class="input" th:value="${memberInfo.detailAddr}">
				</span>
			</div>
			<div class="hl_label">
				<button type="reset">취소</button>
				<button type="submit">저장</button>
			</div>
		</form>
		<!--/* 개인정보 폼 start */-->
		
		<script th:src="@{/user/js/upload.js}"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<script>
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
		</script>
		
	</div>

</body>
</html>