<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
<meta charset="utf-8">
<title>holoyolo::나의정보</title>
<link rel="stylesheet" href="/user/css/myinfo.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<th:block layout:fragment="content">

	<div id="authView" data-url="/member/myInfo/authview"></div>
	<div id="infoView" data-url="/member/myInfo/infoView"></div>
	
	
	<!--/* 주소검색 모달 영역 start */-->
	<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
	<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
	</div>
	<!--/* 주소검색 모달 영역 end */-->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/user/js/daumPostcode.js"></script>
	
	
	<!--/* JavaScript */-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script>
		
		// 프로필사진 툴팁관련
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
		
		$(document).ready(function () {
			let url = $('#authView').data("url");
			$('#authView').load(url);
		})
		
	</script>
</th:block>
</body>
</html>