<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/adminLayout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container-xxl flex-grow-1 container-p-y">
			<h4 class="fw-bold py-3 mb-4">문의관리 상세페이지</h4>
			<div class="card card-admin-container">
				<div class="p-5 overflow-auto scrollBar">
					<th:block th:each="info, stat : ${questionInfo}">
						<!-- 문의 제목 -->
						<div class="d-flex">
							<h5 class="fw-bold" th:text="${info.title}">테스트문의제목1</h5>
							<h5 class="text-warning ms-3 fw-bold"
								th:text="${info.questionType}">답변대기</h5>
						</div>
						<!-- /문의 제목 -->
						<div class="row">
							<!-- 회원 문의 -->
							<div class="col-md p-4">
								<div class="d-flex mb-3">
									<div class="flex-shrink-0">
										<img src="/admin/assets/img/avatars/1.png" alt="facebook"
											class="me-3 rounded" height="36" />
									</div>
									<div class="flex-grow-1 row">
										<div class="col-12 col-sm-12 mb-sm-0 mb-2">
											<h6 class="mb-0">1:1 문의</h6>
											<span class="text-info" th:text="${info.memberId}">회원아이디</span>
											<span class="text-secondary ms-3"
												th:text="${#dates.format(info.writeDate, 'yyyy-MM-dd hh:mm')}">2023-11-09
												22:12</span>
										</div>
									</div>
								</div>

								<p class="mt-4" th:text="${info.content}">답변 내용</p>
								<img alt="사진" src="/admin/assets/img/avatars/1.png">
							</div>
							<!-- /회원 문의 -->
							<!-- 관리자 답변 -->
							<div class="col-md p-4 position-relative">
								<form action="/admin/question/detail" method="post">
									<input type="hidden" name="questionId"
										th:value="${info.questionId}" /> <span class="fw-bold">답변
										작성</span>
									<div class="mt-2">
										<textarea class="form-control" id="answer"
											name="answerContent" placeholder="내용을 입력해주세요." rows="15"></textarea>
									</div>
									<div class="mt-2 position-absolute end-0">
										<button type="submit" class="btn btn-primary me-4">보내기</button>
									</div>
								</form>
							</div>
							<!-- /관리자 답변 -->
						</div>
						<!-- 댓글 리스트 -->
						<div>
							<th:block th:each="info, stat : ${answerInfo}">
								<div class="flex-grow-1 row px-4 pt-4">
									<div class="col-8 col-sm-7 mb-sm-0 mb-2 p-0">
										<h6 class="mb-0 fw-bold">관리자</h6>
										<small class="text-secondary"
											th:text="${#dates.format(info.answerDate, 'yyyy-MM-dd HH:mm')}">2023-11-09
											22:12</small>
									</div>
									<div class="originContent  mb-3 p-0">
										<p class="m-0 p-0 py-2" th:text="${info.answerContent}">Vivamus
											sagittis lacus vel augue laoreet rutrum faucibus dolor
											auctor. Duis mollis, est non commodo luctus. Duis mollis, est
											non commodo luctus.Duis mollis, est non commodo
											luctus.Vivamus sagittis lacus vel augue laoreet rutrum
											faucibus dolor auctor. Duis mollis, est non commodo luctus.
											Duis mollis, est non commodo luctus.Duis mollis, est non
											commodo luctus.Vivamus sagittis lacus vel augue laoreet
											rutrum faucibus dolor auctor. Duis mollis, est non commodo
											luctus. Duis mollis, est non commodo luctus.Duis mollis, est
											non commodo luctus.</p>
										<div class="d-flex">
											<a class="text-info cursor-pointer"
												th:answerId="${info.answerId}"
												th:questionId="${info.questionId}"
												th:onclick="updateAnswerBtn(this.getAttribute('answerId'), this.getAttribute('questionId'),event)">수정</a>
											<a class="text-info ms-1 cursor-pointer"
												th:answerId="${info.answerId}"
												th:questionId="${info.questionId}"
												th:onclick="deleteAnswerBtn(this.getAttribute('answerId'), this.getAttribute('questionId'), event)">삭제</a>
										</div>
									</div>
									<form id="updateInputForm" class="p-0 pb-3 d-none updateInput">
										<input type="hidden" name="answerId"
											th:value="${info.answerId}" /> <input type="hidden"
											name="questionId" th:value="${info.questionId}" />
										<textarea class="form-control" id="answerContent"
											name="answerContent" placeholder="내용을 입력해주세요." rows="2"
											th:text="${info.answerContent}"></textarea>
										<div class="d-flex mt-2">
											<button id="updateConfirm" name="updateConfirm" type="submit"
												class="btn btn-primary me-1"
												th:questionId="${info.questionId}"
												th:answerId="${info.answerId}">확인</button>
											<button id="updateCancel" name="updateCancel" type="button"
												class="btn btn-outline-secondary">취소</button>
										</div>
									</form>
									<hr class="m-0">
								</div>
								<!-- /댓글 리스트 -->
							</th:block>
						</div>
					</th:block>
				</div>
			</div>
		</div>
		<script type="module" th:src="@{/admin/assets/js/admin-question.js}"></script>
		<script type="text/javascript" th:inline="javascript">
		const deleteAnswerBtn = (answerId, questionId, event) => {
			const agreeCheck = confirm("답변을 삭제 하시겠습니까?");
			const requestUrl = `/admin/question/detail/${questionId}/${answerId}`
			let target = event.target;
			console.log(target)

			if (agreeCheck == true) {
				$.ajax({
					type: 'DELETE',
					url: requestUrl
				})
					.done(result => {
						if (result) {
							alert('댓글이 삭제되었습니다.');
							$(target).closest('.row').remove();
						} else {
							alert('삭제가 실패했습니다.');
						}
					})
					.fail(error => console.log(error))
			}
		}
		
		let message = [[${result}]];
			if(message != null) {
				alert(message)
			}
		</script>
	</div>
</body>

</html>