<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div style="width: 1311px; height: 930px; position: relative; margin: 0 auto;
background: url('https://velog.velcdn.com/images/qkrtnals0818/post/bfcf7a8a-42d7-4154-9145-68b21c6d0f9a/image.png') no-repeat center center;
">
	<p style="font-weight: 700; font-size: 30px; position: absolute; top: 300px; left: 300px; margin: 0;">수민</p>
	<p style="font-weight: 700; font-size: 30px; position: absolute;">수민이가만든쿠키</p>
	<p style="font-weight: 700; font-size: 30px; position: absolute;">hsg04067@nave.dsfs</p>
	<p style="font-weight: 700; font-size: 30px; position: absolute;">sumin@mail.com</p>

</div>
		<!-- <p th:text="${nickname}" style="font-weight: 700; font-size: 30px;">수민</p>
		<p th:text="${title}" style="font-weight: 700; font-size: 30px;">수민이가만든쿠키</p>
		<p th:text="${sellerId}" style="font-weight: 700; font-size: 30px;">hsg04067@nave.dsfs</p>
		<p th:text="${buyerId}" style="font-weight: 700; font-size: 30px;">sumin@mail.com</p>
		<p th:text="${tradeId}" style="font-weight: 700; font-size: 30px;">44</p> -->
	
	<div class="btn_wrap" style="width: 50vw; max-width: 800px; min-width: 500px; border: 2px solid #e6e6e6; margin-bottom: 150px;">
	</div>
</body>
</html>