<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style="width: 1049px; height: 744px; position: relative; margin: 0 auto;
	 background: url('https://velog.velcdn.com/images/qkrtnals0818/post/5fcaa7b0-3656-49c3-b3ab-0b3208fc726c/image.png') no-repeat center center;">
	
	<table style="margin-left: 210px; padding-top: 257px;">
		<tbody>
			<tr>
				<td th:text="|${title}|" style="font-size: 25px; color: #5a789e; font-weight: 700;"></td>
			</tr>
			<tr>
				<td><a th:href="@{http://localhost:8090/user/trade/tradeInfo(tradeId=${tradeId},sellerId=${sellerId})}">수락</a></td>
			</tr>
		</tbody>
	</table>

</div>
	<div class="btn_wrap" style="width: 50vw; max-width: 800px; min-width: 500px; border: 2px solid #e6e6e6; margin-bottom: 150px;">
	</div>
</body>
</html>