<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link th:href="@{/user/css/pay.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div layout:fragment="content">
    <div class="container">
      <div class="text-center">
        <h2 th:text ="${boardType}"></h2>
      </div>
      <div class="row justify-content-end mt-3">
        <div class="col-2">
          <th:block th:if="${not #strings.isEmpty(username)}">
            <a class="btn btn-primary btn-block" type="button" th:href="@{/member/board/insert(boardType=${boardType})}">등록</a>
          </th:block>

        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성일</th>
                <th th:if="${boardType}==정보게시판">작성자</th>
                <th>좋아요 / 조회수</th>
              </tr>
            </thead>
            <tbody id="boardTableBody">
              <tr class="text-center" th:if="${boardList} == '0'"> </tr>
              <tr th:unless="${boardList} == '0'">
                <td>데이터</td>
              </tr>
            </tbody>
          </table>
          <div id="pagination-container">
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/user/js/community.js}"></script>
    <script>
      loadData(currentPage);

      $(document).ready(function () {
        loadData(currentPage);
      });
    </script>
  </div>
</body>

</html>