<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link th:href="@{/user/css/pay.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div layout:fragment="content">
    <div class="container">
      <div class="text-center">
        <h2>정보게시판</h2>
      </div>
      <div class="row justify-content-end mt-3">
        <div class="col-2">
          <button class="btn btn-primary btn-block" type="button" th:if="${not #strings.isEmpty(username)}"
            id="addPostBtn">등록</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>순번</th>
                <th>제목</th>
                <th>작성일</th>
                <th>작성자</th>
                <th>좋아요 / 조회수</th>
              </tr>
            </thead>
            <tbody id="boardTableBody">
              <th:block th:if="${boardList == '0'}">
                <tr class="text-center">
                  <td colspan="5">작성된 게시물이 없습니다.</td>
                </tr>
              </th:block>
              <th:block th:unless="${boardList == '0'}">
                <tr th:each="boardList : ${boardList}">
                  <td>${boardList.boardId}</td>
                  <td>${boardList.title}</td>
                  <td>${boardList.writeDate}</td>
                  <td>${boardList.writer}</td>
                  <td>${likeCount} / ${boardList.views}</td>
                </tr>
              </th:block>
            </tbody>
          </table>
          <div id="pagination-container">
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <script>
      //글 등록페이지 이동 이벤트
      let addPostBtn = document.getElementById('addPostBtn');
addPostBtn.addEventListener('click', () => { location.href = "/member/addInfoBoard"; });

      // // 페이징
      // let currentPage = 1;
      // const recordsPerPage = 10; // 페이지당 표시할 레코드 수, 필요에 따라 조절

      // // 페이지 버튼 생성
      // function setupPagination(totalPages) {
      //   let paginationContainer = document.getElementById("pagination-container");

      //   if (paginationContainer) {
      //     paginationContainer.innerHTML = "";

      //     let navElement = document.createElement("nav");
      //     navElement.setAttribute("aria-label", "...");
      //     let ulElement = document.createElement("ul");
      //     ulElement.className = "pagination";

      //     // Previous Button
      //     let previousLi = document.createElement("li");
      //     previousLi.className = "page-item disabled";
      //     let previousLink = document.createElement("a");
      //     previousLink.className = "page-link";
      //     previousLink.innerText = "Previous";
      //     previousLink.addEventListener("click", function () {
      //       if (currentPage > 1) {
      //         loadData(currentPage - 1);
      //       }
      //     });
      //     previousLi.appendChild(previousLink);
      //     ulElement.appendChild(previousLi);

      //     // Page Buttons
      //     for (let i = 1; i <= totalPages; i++) {
      //       let li = document.createElement("li");
      //       li.className = "page-item";
      //       let link = document.createElement("a");
      //       link.className = "page-link";
      //       link.href = "#";
      //       link.innerText = i;
      //       link.addEventListener("click", function () {
      //         loadData(i);
      //       });
      //       li.appendChild(link);
      //       ulElement.appendChild(li);
      //     }

      //     // Next Button
      //     let nextLi = document.createElement("li");
      //     let nextLink = document.createElement("a");
      //     nextLi.className = "page-item";
      //     nextLink.className = "page-link";
      //     nextLink.href = "#";
      //     nextLink.innerText = "Next";
      //     nextLink.addEventListener("click", function () {
      //       if (currentPage < totalPages) {
      //         loadData(currentPage + 1);
      //       }
      //     });
      //     nextLi.appendChild(nextLink);
      //     ulElement.appendChild(nextLi);

      //     navElement.appendChild(ulElement);
      //     paginationContainer.appendChild(navElement);
      //   }
      // }

      // loadData(currentPage);

      // function loadData(page) {
      //   currentPage = page;
      //   let term = $("#searchHpHistory").val();
      //   let start = (currentPage - 1) * recordsPerPage;
      //   let end = start + recordsPerPage;
      //   $.ajax({
      //     type: 'POST',
      //     url: '/boardLoad',
      //     contentType: 'application/json;charset=UTF-8',
      //     data: JSON.stringify({ "term": term, "start": start, "end": end }),
      //     success: function (data) {
      //       updateTable(data);
      //       // 페이징 처리
      //       let totalPages = Math.ceil(data.totalRecords / recordsPerPage);
      //       setupPagination(totalPages);
      //     },
      //     error: function (request, status, error) {
      //       // Handle the error response from the server
      //       console.error("code: " + request.status);
      //       console.error("message: " + request.responseText);
      //       console.error("error: " + error);
      //     }
      //   });
      // }
      // //테이블 갱신
      // function updateTable(data) {
      //   let tbody = $("#boardTableBody");
      //   tbody.empty(); // 기존 데이터를 지우고 새로운 데이터로 갱신
      //   if (data && data.historyList && data.historyList.length > 0) {
      //     // 데이터가 있을 경우 테이블에 행 추가
      //     data.historyList.forEach(function (item, index) {
      //       let row = $("<tr>");
      //       row.append($("<td>").text(index + 1));
      //       row.append($("<td>").text(getTransactionType(item.hpType)));
      //       row.append($("<td>").text(item.price));
      //       row.append($("<td>").text(item.holopayComment));
      //       row.append($("<td>").text(formatDate(item.hpDate)));

      //       tbody.append(row);
      //     });
      //   } else {
      //     // 데이터가 없을 경우 테이블에 메시지 추가
      //     let noDataMessage = $("<tr>").append($("<td colspan='5' class='text-center'>").text("거래내역 없음"));
      //     tbody.append(noDataMessage);
      //   }

      // }

      // $(document).ready(function () {
      //   loadData(currentPage);
      // });

      // function formatDate(dateString) {
      //   let date = new Date(dateString);
      //   let year = date.getFullYear();
      //   let month = (date.getMonth() + 1).toString().padStart(2, '0');
      //   let day = date.getDate().toString().padStart(2, '0');
      //   return year + '-' + month + '-' + day;
      // }




    </script>
  </div>
</body>

</html>