<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link th:href="@{/user/css/pay.css}" rel="stylesheet" type="text/css">
</head>

<body>
  <div layout:fragment="content">
    <div class="container">
      <div class="text-center">
        <h2>정보게시판</h2>
      </div>
      <div class="row justify-content-end mt-3">
        <div class="col-2">
          <th:block th:if = "${not #strings.isEmpty(username)}">
            <button class="btn btn-primary btn-block" type="button" th:href="@{/member/addInfoBoard}">등록</button>
          </th:block>
          
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>순번</th>
                <th>제목</th>
                <th>작성일</th>
                <th>작성자</th>
                <th>좋아요 / 조회수</th>
              </tr>
            </thead>
            <tbody id="boardTableBody">
              <th:block th:if="${boardList} == '0'">
                <tr class="text-center">
                  <td colspan="5">작성된 게시물이 없습니다.</td>
                </tr>
              </th:block>
              <th:block th:unless="${boardList} == '0'">
                <tr th:each="boardList : ${boardList}">
                  <td th:text="${boardList.boardId}"></td>
                  <td th:text="${boardList.title}"></td>
                  <td th:text="${boardList.writeDate}"></td>
                  <td th:text="${boardList.nickname}"></td>
                  <td><span th:text="${boardList.likeCount}"></span>/<span th:text="${boardList.views}"></span></td>
                </tr>
              </th:block>
            </tbody>
          </table>
          <div id="pagination-container">
            <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/user/js/community.js}"></script>
  </div>
</body>

</html>