<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- TUI 에디터 CSS CDN -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<style>
body {
	height: 100%;
}
.editor_container {
	font-family: arial;
	font-size: 22px;
	margin: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#editorContent {
	width: 100%;
    height: 100%;
    max-height: 200px;
    overflow: scroll;
}

img {
	max-width: 350px;
}
</style>
</head>
<body layout:fragment="content">

    <h2 style="text-align: center;">게시글 상세 페이지</h2>

	<div class="editor_container">
		<!--/* 에디터 콘텐츠 렌더링 영역 */-->
		<div id="viewer"></div>
	</div>
	<!--/* 수정/삭제 버튼 영역 */-->
	<div id="updateDelBtnDiv">
    	<th:block sec:authorize="isAuthenticated()" th:if="${loginId == board.memberId}">
	        <button type="button" class="btns save" th:onclick="'location.href=\'/editor/updateview?boardId='+ @{${board.boardId}} + '\''">수정</button>
	        <button type="button" class="btns save" onclick="delBtn();">삭제</button>
	        <input type="hidden" id="memberId" name="memberId" th:value="${#authentication.principal.memberVO.memberId}">
        </th:block>
	    <a href="/editor/list" class="btns back">뒤로 가기</a>
    </div>

	<!-- TUI 에디터 JS CDN -->
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
	<script>

        window.onload = async () => {
            findPost();
        }


        // 게시글 상세정보 조회
        async function findPost() {

            // 1. URL 쿼리 스트링에서 게시글 번호 조회
            const searchParams = new URLSearchParams(location.search);
            const postId = Number(searchParams.get('boardId'));

            // 2. API 호출
            const url = `/api/posts/${postId}`;
            const response = await fetch(url);
            const post = await response.json();

            // 3. 에디터 콘텐츠 렌더링
            const viewer = toastui.Editor.factory({
				el: document.querySelector('#viewer'),
                viewer: true,
                initialValue: post.content
            });
            
        }     
     	

    </script>
</body>
</html>