<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.holoyolo.app.attachment.mapper.AttachmentMapper">
	<select id="selectAttachmentList" resultType="AttachmentVO">
		SELECT attachment_seq
				, origin_file
				, save_file
		FROM attachment
		WHERE menu_type = #{menuType}
		AND post_id = #{postId}
		ORDER BY attachment_seq
	</select>
	
	<insert id="insertAttachment" parameterType="AttachmentVO">
		<selectKey keyProperty="attachmentId,attachmentSeq" resultType="AttachmentVO" order="BEFORE" >
               SELECT ATTACHMENT_SEQ.NEXTVAL attachment_id,
                      (SELECT NVL(MAX(attachment_seq), 0) +1 
                       FROM attachment 
                       WHERE post_id = #{postId}
                       AND   menu_type = #{menuType}) attachment_seq 
               FROM dual
		</selectKey>
		INSERT INTO attachment
					(
						attachment_id
						, menu_type
						, post_id
						, attachment_seq
						, origin_file
						, save_file
						, reg_date
						, file_size
					)
			 VALUES 
			 		(
			 			#{attachmentId}
			 			, #{menuType}
			 			, #{postId}
			 			, #{attachmentSeq}
			 			, #{originFile}
			 			, #{saveFile}
			 			, sysdate
			 			, #{fileSize}
			 		)
	</insert>
	
	<delete id="deleteAttachment" parameterType="AttachmentVO">
		DELETE FROM attachment
		WHERE menu_type = #{menuType}
		AND post_id = #{postId}
		<if test="saveFile != null and !saveFile.equals('')">
			AND save_file = #{saveFile}
		</if>
	</delete>
	<delete id="deletePostAttachment" parameterType="AttachmentVO">
		DELETE FROM attachment
		WHERE menu_type = #{menuType}
		AND post_id = #{postId}
	</delete>
	
	<!-- 중고거래 이미지하나가져오기 -->
	<!-- 상품사진 한개만 가져오기 -->
	<select id="getItemImage" resultType="AttachmentVO">
		SELECT *
		FROM 
			(
				SELECT * 
				FROM attachment 
				WHERE menu_type= 'AA1' 
				AND post_id = #{tradeId}
				ORDER BY attachment_seq
		    )
		WHERE rownum = 1
	</select>
	
	<!--  첨부파일 아작스 제거-->
	<delete id="deleteCSAttachment" parameterType="AttachmentVO">
		DELETE FROM attachment
		WHERE menu_type =#{menuType}
		AND post_id = #{postId}
		AND SAVE_FILE = #{saveFile}
	</delete>
</mapper>