<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.holoyolo.app.attachment.mapper.AttachmentMapper">
	<select id="selectAttachmentList" resultType="AttachmentVO">
		SELECT attachment_seq
				, origin_file
				, save_file
		FROM attachment
		WHERE menu_type = #{menuType}
		AND post_id = #{postId}
	</select>
	
	<insert id="insertAttachment" parameterType="AttachmentVO">
		<selectKey keyProperty="attachmentId,attachmentSeq" resultType="AttachmentVO" order="BEFORE" >
               SELECT ATTACHMENT_SEQ.NEXTVAL attachment_id,
                      (SELECT NVL(MAX(attachment_seq), 0) +1 FROM attachment WHERE post_id = #{postId}) attachment_seq 
               FROM dual
		</selectKey>
		INSERT INTO attachment
					(
						attachment_id
						, menu_type
						, post_id
						, attachment_seq
						, origin_file
						, save_file
						, reg_date
						, file_size
					)
			 VALUES 
			 		(
			 			#{attachmentId}
			 			, #{menuType}
			 			, #{postId}
			 			, #{attachmentSeq}
			 			, #{originFile}
			 			, #{saveFile}
			 			, sysdate
			 			, #{fileSize}
			 		)
	</insert>
	
	<delete id="deleteAttachment" parameterType="AttachmentVO">
		DELETE FROM attachment
		WHERE menu_type =#{menuType}
		AND post_id = #{postId}
		AND save_file = #{saveFile}
	</delete>
	<delete id="deletePostAttachment" parameterType="AttachmentVO">
		DELETE FROM attachment
		WHERE menu_type =#{menuType}
		AND post_id = #{postId}
		
	</delete>
</mapper>