<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.holoyolo.app.clubMember.mapper.ClubMemberMapper">
  
  	<!-- 해당 회원이 가입한 클럽 리스트들 -->
  	<select id="getClubJoin" resultType="ClubMemberVO">
  		SELECT * 
  		FROM club_member 
  		WHERE member_id = #{memberId}
  	</select>
  	
  	<!-- 클럽 바로 가입 -->
  	<insert id="joinClub" parameterType="ClubMemberVO">
  		INSERT into club_member 
  		VALUES (sysdate, null, #{clubId}, #{memberId})
  	</insert>
  	
  	<!-- 클럽 가입 신청 -->
  	<insert id="reqClub" parameterType="ClubMemberVO">
  		INSERT into club_member 
  		VALUES (null, null, #{clubId}, #{memberId})
  	</insert>
  	
  	<!-- 클럽재가입신청 -->
  	<update id="reqRejoin" parameterType="ClubMemberVO">
  	    UPDATE club_member 
        SET join_date = null
        WHERE club_id = #{clubId}
        AND member_id = #{memberId}
  	</update>
  	
  	<!-- 클럽재가입 -->
  	<update id="reJoin" parameterType="ClubMemberVO">
  		UPDATE club_member 
        SET join_date = sysdate, stop_date = null 
        WHERE club_id = #{clubId}
        AND member_id = #{memberId}
  	</update>
  	
  	<!-- 클럽 가입승인 -->
  	<update id="acceptClub" parameterType="ClubMemberVO">
  		UPDATE club_member
  		SET join_date = sysdate
  		WHERE club_id = #{clubId}
  		AND member_id = #{memberId}
  	</update>
  	
  	<!-- 클럽 가입자수 (탈퇴회원 제외) -->
  	<select id="countMember" parameterType="ClubMemberVO" resultType="int">
  		SELECT count(*) 
  		FROM club_member 
  		WHERE club_id = #{clubId} 
  		AND stop_date is null
  		AND join_date is not null
  	</select>
  	
  	<!-- 해당 클럽의 회원목록 -->
  	<select id="getMembers" resultType="ClubMemberVO" parameterType="ClubVO">
SELECT cm.*, m.member_name as member_name, m.profile_img,
											(SELECT nvl(sum(price),0) 
                                            FROM acc_book_history
                                            <![CDATA[
                                            WHERE trunc(pay_date) >= 
                                                            (
                                                            SELECT trunc(start_date)
                                                            FROM club_success_history
                                                            WHERE club_id = #{clubId}
                                                            AND success_state = 'SU3'
                                                            )
                                            AND trunc(pay_date) <= 
                                                            (
                                                            SELECT trunc(end_date)
                                                            FROM club_success_history
                                                            WHERE club_id = #{clubId}
                                                            AND success_state = 'SU3'
                                                            )
                                               ]]>
                                            AND member_id = m.member_id) as sum_price
FROM club_member cm join member m on cm.member_id = m.member_id
WHERE club_id = #{clubId}
AND cm.join_date is not null
AND cm.stop_date is null
ORDER BY sum_price
  	</select>
  	
  	<!-- 내가 가입한 클럽인지 확인 -->
  	<select id="checkMyClub" resultType="ClubMemberVO" parameterType="ClubMemberVO">
  		SELECT *
  		FROM club_member 
  		WHERE club_id = #{clubId} 
  		AND member_id = #{memberId} 
  	</select>
  	
  	<!-- 클럽탈퇴 -->
  	<update id="outClubMember" parameterType="ClubMemberVO">
  		UPDATE club_member 
  		SET stop_date = sysdate 
  		WHERE club_id = #{clubId}
  		AND member_id = #{memberId} 
  	</update>
  	
  	<!-- 현재 가입신청받을 수 있는지 모임장이 체크 -->
  	<select id="checkAccept" resultType="java.util.Map" parameterType="ClubMemberVO">
		SELECT 
		    (SELECT count(*) FROM club_member WHERE join_date is not null AND stop_date is null and club_id = #{clubId}) as count,
		    (SELECT club_people FROM club where club_id = #{clubId}) as people
		from club
        where club_id = #{clubId}
  	</select>
  </mapper>