<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.holoyolo.app.clubSuccessHistory.mapper.ClubSuccessHistoryMapper">
  
  	<!-- 해당 클럽의 평균 성공률 -->
  	<select id="getSuccessPct" resultType="double" parameterType="ClubVO">
SELECT DECODE(
            (SELECT COUNT(*) FROM club_success_history WHERE club_id = #{clubId}), 0, 0, 
            (SELECT COUNT(*) FROM club_success_history WHERE club_id = #{clubId} AND success_state = 'SU1') /
            (SELECT COUNT(*) FROM club_success_history WHERE club_id = #{clubId})) 
            as result 
FROM DUAL
  	</select>
  	
  	<!-- 해당 클럽의 현재 진행중인 기간 -->
  	<select id="getIng" resultType="ClubSuccessHistoryVO">
  		SELECT * 
  		FROM club_success_history 
  		WHERE club_id = #{clubId}
  		AND success_state = 'SU3'
  	</select>
  </mapper>