<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.holoyolo.app.clubMember.mapper.ClubMemberMapper">
  
  	<!-- 해당 회원이 가입한 클럽 리스트들 -->
  	<select id="getClubJoin" resultType="ClubMemberVO">
  		SELECT * 
  		FROM club_member 
  		WHERE member_id = #{memberId}
  	</select>
  	
  	<!-- 클럽 바로 가입 -->
  	<insert id="joinClub" parameterType="ClubMemberVO">
  		INSERT into club_member 
  		VALUES (sysdate, null, #{clubId}, #{memberId})
  	</insert>
  	
  	<!-- 클럽 가입자수 (탈퇴회원 제외) -->
  	<select id="countMember" parameterType="ClubMemberVO" resultType="int">
  		SELECT count(*) 
  		FROM club_member 
  		WHERE club_id = #{clubId} 
  		AND stop_date is null
  	</select>
  </mapper>