<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.holoyolo.app.club.mapper.ClubMapper">
  	
  	<select id="getAllClubList" resultType="ClubVO">
  		SELECT *
  		FROM club
  		ORDER BY club_id
  	</select>
  	
  
  	<!-- 알뜰모임 목록리스트 -->
  	<select id="getClubList" resultType="ClubVO">
  		SELECT * 
  		FROM (
      		SELECT rownum rn, a.*
      		FROM ( SELECT * FROM club
      		ORDER BY club_id) A
	        <![CDATA[
	         WHERE rownum <= (#{page} * 6)) b
        WHERE b.rn > (#{page} - 1) * 6
	      ]]>  
  	</select>
  </mapper>