<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.holoyolo.app.clubBudget.mapper.ClubBudgetMapper">
  
  	<!-- 해당 클럽의 현재 예산정보 -->
  	<select id="getClubBudget" resultType="ClubBudgetVO">
  		SELECT * 
  		FROM club_budget 
  		WHERE club_id = #{clubId} and use_yn = 'Y'
  	</select>
  	
  	<!-- 클럽의 첫 예산등록 -->
  	<insert id="insertClubBudget" parameterType="ClubBudgetVO">
  		<selectKey keyProperty="clubBudgetId"
					   resultType="int"
					   order="BEFORE">
	  		    SELECT NVL(MAX(club_budget_id),0) + 1
				FROM club_budget
	  	</selectKey>
	  	INSERT into club_budget 
	  	VALUES (
	  			#{clubBudgetId}
	  			,#{clubBudgetPrice}
	  			,#{clubBudgetUnit}
	  			,sysdate, #{clubId}
	  			,'Y')
  	</insert>
  </mapper>