<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.holoyolo.app.memberFinanceInfo.mapper.MemberFinanceInfoMapper">


	<select id="getCardInfo" resultType="MemberFinanceInfoVO">
		SELECT card_no, card_company 
		FROM member_finance_info 
		WHERE member_id = #{memberId} 
		AND use_yn = 'y'
	</select>
</mapper>