<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.holoyolo.app.member.mapper.MemberMapper">
 
 	<select id="selectUser" resultType="MemberVO" parameterType="String">
		SELECT *
		FROM member
		WHERE member_id = #{username}
	</select>

	<!-- 회원가입 -->
	<insert id="joinUser" parameterType="MemberVO">
		INSERT INTO member
					(
						member_id
						, member_name
						, password
						, nickname
						, addr
						, phone
						, join_date
						, role
						, sns_yn
					)
			VALUES  (
						#{memberId}
						, #{memberName}
						, #{password}
						, #{nickname}
						, #{addr}
						, #{phone}
						, sysdate
						, #{role}
						, #{snsYn}
					)
	</insert>
	
	<!-- 멤버 가입날짜 -->
	<select id="selectJoinDate" resultType="MemberVO">
		SELECT join_date 
		FROM member 
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 회원가입 - 아이디 중복체크 -->
	<select id="checkMemberId" resultType="MemberVO">
		SELECT member_id
		FROM member
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 회원가입 - 닉네임 중복체크 -->
	<select id="checkNickname" resultType="MemberVO">
		SELECT nickname
		FROM member
		WHERE nickname = #{nickname}
	</select>
 </mapper>