<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.holoyolo.app.member.mapper.MemberMapper">
 
 	<select id="selectUser" resultType="MemberVO" parameterType="String">
		SELECT *
		FROM member
		WHERE member_id = #{username}
	</select>

	<!-- 회원가입 -->
	<insert id="joinUser" parameterType="MemberVO">
		INSERT INTO member
					(
						member_id
						, member_name
						, password
						, nickname
						, addr
						, phone
						, join_date
						, role
						, sns_yn
					)
			VALUES  (
						#{memberId}
						, #{memberName}
						, #{password}
						, #{nickname}
						, #{addr}
						, #{phone}
						, sysdate
						, #{role}
						, #{snsYn}
					)
	</insert>
	
	
	<!-- 회원 가입일자 -->
	<select id="selectJoinDate" resultType="MemberVO">
		SELECT join_date 
		FROM member 
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 회원 전체조회 -->
	<select id="selectMemberAll" resultType="MemberVO">
		SELECT member_name, member_id, phone, addr, join_date,     
		    CASE 
		        WHEN role = 'HA1' THEN '일반회원'
		        WHEN role = 'HA2' THEN '거래정지'
		        WHEN role = 'HA3' THEN '계정정지'
		        WHEN role = 'ROLE_ADMIN' THEN '관리자'
		    END AS role
		FROM member
		ORDER BY join_date desc
	</select>
 </mapper>