<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.holoyolo.app.memberFinanceInfo.mapper.MemberFinanceInfoMapper">


	<select id="getCardInfo" resultType="MemberFinanceInfoVO">
		SELECT card_no, card_company 
		FROM member_finance_info 
		WHERE member_id = #{memberId} 
		AND use_yn = 'Y'
	</select>
	
	
	<select id="selectMemberFinanceInfo" resultType="MemberFinanceInfoVO">
		SELECT *
		FROM MEMBER_FINANCE_INFO
        WHERE MEMBER_ID = #{memberId}
		AND USE_YN = 'Y'
	</select>

		  
  	<select id="insertOrUpdateFinanceInfo"  statementType="CALLABLE"  resultType="MemberFinanceInfoVO">
		    {call p_userAccountController(
			      #{memberId, mode=IN, jdbcType=INTEGER},
			      #{bankname},
			      #{account, mode=IN, jdbcType=VARCHAR},
			      #{result, mode=OUT, jdbcType=VARCHAR}
		    )}
  	</select>


	
	<insert id="insertMemberFinance" parameterType="MemberFinanceInfoVO">
		<selectKey resultType="int" keyProperty="memberFinanceId" order="BEFORE">
	        SELECT MAX(MEMBER_FINANCE_ID)+1 FROM MEMBER_FINANCE_INFO
	    </selectKey>
		INSERT INTO MEMBER_FINANCE_INFO(
			CARD_NO, ACCOUNT, BANKNAME, MEMBER_ID, CARD_COMPANY, MEMBER_FINANCE_ID, SETTING_DATE, USER_YN)
		VALUES(#{cardNo}, #{account}, #{memberId}, #{cardCompany},#{memberFinanceId}, sysdate, 'Y' )
	</insert>
	
	<select id="checkCardSelect" resultType="MemberFinanceInfoVO">
		SELECT card_no 
		FROM member_finance_info 
		WHERE member_id=#{memberId}
	</select>
	
	<insert id="insertCard" parameterType="MemberFinanceInfoVO">
		{call insertCardInfo(#{memberId, mode=IN, jdbcType=VARCHAR}, #{cardNo, mode=IN,jdbcType=VARCHAR}, #{cardCompany, mode=IN,jdbcType=VARCHAR})}
	</insert>
	
	<!-- 카드정보 수정 -->
	<update id="updateCard" parameterType="MemberFinanceInfoVO">
		UPDATE member_finance_info 
		SET card_company = #{cardCompany}, card_no = #{cardNo} 
		WHERE member_id = #{memberId} 
		AND use_yn = 'Y'
	</update>
	
	<!-- 카드정보 삭제 -->
	<update id="delcard" parameterType="MemberFinanceInfoVO">
		UPDATE member_finance_info 
		SET card_company = null, card_no = null 
		WHERE member_id = #{memberId}  
		AND use_yn = 'Y'
	</update>
</mapper>