<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.holoyolo.app.memberFinanceInfo.mapper.MemberFinanceInfoMapper">


	<select id="getCardInfo" resultType="MemberFinanceInfoVO">
		SELECT card_no, card_company 
		FROM member_finance_info 
		WHERE member_id = #{memberId} 
		AND use_yn = 'y'
	</select>
	
	
	<select id="selectMemberFinanceInfo" resultType="MemberFinanceInfoVO">
		SELECT *
		FROM MEMBER_FINANCE_INFO
		WHERE SETTING_DATE = (SELECT MAX(SETTING_DATE)
												FROM MEMBER_FINANCE_INFO
												WHERE MEMBER_ID = #{memberId})
	</select>
	
	<insert id="insertMemberFinance" parameterType="MemberFinanceInfoVO">
		INSERT INTO MEMBER_FINANCE_INFO(
			CARD_NO, ACCOUNT, BANKNAME, MEMBER_ID, CARD_COMPANY, MEMBER_FINANCE_ID, SETTING_DATE, USER_YN)
		VALUES(#{cardNo}, #{account}, #{memberId}, #{cardCompany},#{memberFinanceId}, sysdate, 'Y' )
	</insert>
</mapper>