<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.holoyolo.app.question.mapper.QuestionMapper">
	<select id="selectQuestionTotalList" resultType="QuestionVO">
		SELECT * FROM
			(SELECT A.* , ROWNUM rn FROM (
				SELECT * FROM (
					SELECT
						q.question_id,
						q.title,
						q.member_id,
						q.write_date,
						fn_get_code_name(question_type) AS question_type,
					CASE
					WHEN ( SELECT COUNT(*) FROM answer a WHERE a.question_id = q.question_id ) = 0 THEN '답변대기'
					ELSE '답변완료'
					END AS question_yn
				FROM question q
			) question
		<where>
			<if test="questionYn != null and questionYn != '' ">
				AND question_yn = #{questionYn}
			</if>
			<if test="search != null and search != ''">
				AND (
					title LIKE '%'||#{search}||'%' OR 
					question_id LIKE '%'||#{search}||'%' OR
					member_id LIKE '%'||#{search}||'%'
					)
				AND question_yn LIKE '%'||#{questionYn}||'%'
			</if>
		</where>
		ORDER BY question_id DESC ) A) b 
		WHERE rn 
			BETWEEN (#{page}-1)*#{pageUnit} + 1 and #{page} * #{pageUnit}
	</select>

	<!--단건조회 -->
	<select id="selectQuestionInfo" resultType="QuestionVO">
		SELECT question_id
		, fn_get_code_name(question_type) question_type
		, title
		, content
		, write_date
		, member_id
		FROM question
		WHERE question_id = #{questionId}
	</select>

	<!-- 전체 개수 조회 -->
	<select id="selectQuestionTotalCount" resultType="int">

		SELECT COUNT(*) FROM (
		SELECT
		q.question_id,
		q.title,
		q.member_id,
		q.write_date,
		fn_get_code_name(question_type) AS question_type,
		CASE
		WHEN ( SELECT COUNT(*) FROM answer a WHERE a.question_id = q.question_id )
		= 0 THEN '답변대기'
		ELSE '답변완료'
		END AS question_yn
		FROM question q
		) question
		<where>
			<if test="questionYn != null and questionYn != '' ">
				AND question_yn = #{questionYn}
			</if>
			<if test="search != null and search != ''">
				AND (title LIKE '%'||#{search}||'%' OR question_id LIKE
				'%'||#{search}||'%' OR member_id LIKE '%'||#{search}||'%') AND
				question_yn LIKE '%'||#{questionYn}||'%'
			</if>
		</where>
	</select>


<!-- 회원별 질문 리스트  -->
<select id="MyQuestionList" resultType="QuestionVO">
    <![CDATA[
        SELECT * FROM (
        SELECT Q.*, ROWNUM AS rnum
        FROM (
            SELECT *
            FROM QUESTION
            WHERE MEMBER_ID = #{memberId}
            ORDER BY WRITE_DATE DESC
        ) Q
        WHERE ROWNUM <= #{limit}
    ) WHERE rnum > #{offset}
    ]]>
</select>
	<!-- 회원별 질문 개수 -->
	
	<select id= "myQuestionCnt" resultType="int">
			SELECT count(*)
			FROM QUESTION
			WHERE MEMBER_ID =#{memberId}
	</select>
	
	<insert id="insertQuestionInfo" parameterType="QuestionVO">
		<selectKey keyProperty="questionId"  resultType="int"  order="BEFORE">
	  		SELECT NVL(MAX(question_id),0) + 1
			FROM QUESTION
	  	</selectKey>
		INSERT INTO QUESTION(QUESTION_ID, QUESTION_TYPE, TITLE, CONTENT, WRITE_DATE, UPDATE_DATE, MEMBER_ID)
		VALUES (#{questionId}, #{questionType}, #{title}, #{content}, sysdate, null, #{memberId})
	</insert>
</mapper>