<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holoyolo.app.trade.mapper.TradeMapper">

	<select id="selectTradeList" resultType="TradeVO">
		SELECT trade_id
				, title
				, fn_get_code_name(trade_category) as trade_category
				, trade_place
				, fn_get_code_name(trade_type) as trade_type
				, fn_get_code_name(promise_status) as promise_status
				, write_date
		FROM trade
		ORDER BY trade_id
	</select>

	<select id="heartCount" resultType="TradeVO">
		SELECT count(*) as heartCount
		FROM heart
		WHERE trade_id = #{tradeId}
	</select>

	<select id="selectTrade" resultType="TradeVO">
		SELECT trade_id
				, title
				, description
				, fn_get_code_name(trade_category) as trade_category
				, price
				, open_kakao
				, trade_place
				, fn_get_code_name(trade_type) as trade_type
				, payment_type
				, fn_get_code_name(promise_status) as promise_status
				, views
				, seller_id
		FROM trade
		WHERE trade_id = #{tradeId}
		AND seller_id = #{sellerId}
	</select>

	<insert id="insertTrade" parameterType="TradeVO">
		<selectKey keyProperty="tradeId" resultType="int"
			order="BEFORE">
			SELECT NVL(MAX(trade_id,0)+1) as tradeId
			FROM trade
		</selectKey>
		INSERT INTO trade
			(
			trade_id
			, title
			, description
			, trade_category
			, price
			, open_kakao
			, trade_place
			, trade_type
			, payment
			, promise_status
			, views
			, latitude
			, longitude
			, seller_id
			)
		VALUES
			(
			#{tradeId}
			, #{title}
			, #{description}
			, #{tradeCategory}
			, #{price}
			, #{openKakao}
			, #{tradePlace}
			, #{tradeType}
			, #{payment}
			, #{promiseStatus}
			, #{views}
			, #{latitude}
			, #{longitude}
			, #{sellerId}
			)
	</insert>

	<update id="updateTrade" parameterType="TradeVO">
		UPDATE trade
		<set>
			title = #{title},
			description = #{description},
			trade_category = #{tradeCategory},
			price = #{price},
			open_kakao = #{openKakao},
			trade_place = #{tradePlace},
			trade_type = #{tradeType},
			payment = #{payment},
			promise_status = #{promiseStatus},
			views = #{views},
			update_date = sysdate,
			latitude = #{latitude},
			longitude = #{longitude},
			buyer_id = #{buyerId}
		</set>
		WHERE trade_id = #{tradeId}
		AND seller_id = #{sellerId}
	</update>

	<delete id="deleteTrade" parameterType="TradeVO">
		DELETE FROM trade
		WHERE
		trade_id = #{tradeId}
		AND seller_id = #{sellerId}
	</delete>
	
	<select id="getAllTradeList" resultType="TradeVO">
		SELECT trade_id
				, title
				, fn_get_code_name(trade_category) as trade_category
				, price
				, trade_place
				, fn_get_code_name(trade_type) as trade_type
				, fn_get_code_name(promise_status) as promise_status
				, write_date
		FROM trade
		ORDER BY write_date	desc
	</select>

	<!-- 중고거래 목록리스트 -->
	<select id="getTradeList" resultType="TradeVO">
		SELECT *
		FROM (
			SELECT rownum rn, a.*
			FROM (
				SELECT trade_id
						, title
						, fn_get_code_name(trade_category) as trade_category
						, price
						, trade_place
						, fn_get_code_name(trade_type) as trade_type
						, fn_get_code_name(promise_status) as promise_status
						, write_date
						, seller_id
				FROM trade
				<include refid="criteria"></include>
				ORDER BY write_date desc
			) A
			WHERE rownum <![CDATA[<=]]> #{page} * 6
		) B
		WHERE B.rn > (#{page} - 1) * 6
	</select>

	<!-- 검색 시 데이터 총 갯수 -->
	<select id="cntData" parameterType="TradeVO" resultType="int">
		SELECT COUNT(*)
		FROM trade
		<include refid="criteria"></include>
	</select>
	
	<sql id="criteria">		
		<where>
			<if test="search != null and search != ''">
				<if test="searchTitle == 'title'">
					AND title LIKE '%'||#{search}||'%'
				</if>
				<if test="searchTitle == 'tradePlace'">
					AND trade_place LIKE '%'||#{search}||'%'
				</if>
			</if>
			<if test="tradeCategory != null and tradeCategory != ''">
				AND trade_category = #{tradeCategory}
			</if>
			<if test="sellCheck != null and sellCheck.equals('true')">
				AND promise_status <![CDATA[<>]]> 'TD3'
			</if>
		</where>
	</sql>
</mapper>